    <div class="breadcrumbArea">
    <div class="row">
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pull-left">
    <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#/home"><span lang="en">Home</span> </a></li>
    <li class="breadcrumb-item active"><span lang="en">Land And Asset</span> </li>
    <li class="breadcrumb-item active"><span lang="en">Master Data</span></li>
    <li class="breadcrumb-item active"><span lang="en">Land And Asset Email Details</span></li>
    </ol>
    </div>
    </div>
    </div>
    <div class="adminContent">
    <div id="lodingImage" ng-show="loadingImage"> <img src="images/gears.gif"></div>
    <div class="schemeMain" ng-show="!loadingImage">

    <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
    <div class="projectName" lang="en"><span class="glyphicon glyphicon-hand-right"> </span> Email Details</div>
    </div>

    </div>
    <div class="clearfix visible-block"></div>
    <hr />
    </div>


    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="projectMain">
    <div class="projectTile" lang="en">Email Details</div>
    <div class="table-responsive projectInner">
    <div class="schemForms">
    <form ng-submit="getProjectDetailsForNotification(email)">
    <div class="row">
        <div class="form-group col-lg-offset-3 col-lg-6 col-md-offset-3 col-md-6 col-sm-0ffset-3 col-sm-6 col-xs-12">
            <label><span lang="en">Email Id</span>:</label>
            <input type="text" placeholder="Enter Email Id" class="form-control" ng-model="email.emailId"  readonly />
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 col-sm-12">
            <hr />
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 col-sm-12">
            <div class="m-top20">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <label lang="en"> <span class="color-red f-bold f-left">*</span>Asset Demand Projection Request Email</label>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                        <div class="row">

                            <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12"><span lang="en"> Email Subject</span>
                                <textarea rows="2" ng-model="email.demandProjectionRequestEmail" placeholder="Enter Request Email Subject" ></textarea>
                            </div>
                            <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12"><span lang="en"> SMS Text</span>
                                <textarea rows="2" ng-model="email.demandProjectionRequestSMS" placeholder="Enter Request SMS Text" ></textarea>
                            </div>
                            <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12"> <span lang="en">Email Text</span>
                                <!--<textarea rows="4" ng-model="email.registerSMS" placeholder="Enter Registration SMS Text" ></textarea>-->
                                <textarea ui-tinymce id="tf1"  ng-model="email.demandProjectionRequestText" placeholder="Enter Request Email Text" ></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-lg-12 col-md-12 col-sm-12 col-sm-12">
            <div class="m-top20">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <label lang="en"> <span class="color-red f-bold f-left">*</span>Asset Demand Projection Request Approval</label>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                        <div class="row">

                            <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12"> <span lang="en"> Email Subject</span>
                                <textarea rows="2" ng-model="email.demandProjectionApprovalEmail" placeholder="Enter Request Approval Email Subject" ></textarea>
                            </div>
                            <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12"><span lang="en">  SMS Text</span>
                                <textarea rows="2" ng-model="email.demandProjectionApprovalSMS" placeholder="Enter Request Approval SMS Text" ></textarea>
                            </div>
                            <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12"> <span lang="en"> Email Text</span>
                                <!--<textarea rows="4" ng-model="email.registerSMS" placeholder="Enter Registration SMS Text" ></textarea>-->
                                <textarea ui-tinymce id="tf2" ng-model="email.demandProjectionApprovalMessage" placeholder="Enter Request Approval Email Text" ></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-lg-12 col-md-12 col-sm-12 col-sm-12">
            <div class="m-top20">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <label lang="en"> <span class="color-red f-bold f-left">*</span>Asset Demand Projection Request Rejected</label>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                        <div class="row">

                            <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12"> <span lang="en">Email Subject</span>
                                <textarea rows="2" ng-model="email.demandProjectionRejectedEmail" placeholder="Enter Request Rejected Email Subject" ></textarea>
                            </div>
                            <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12"> <span lang="en">SMS Text</span>
                                <textarea rows="2" ng-model="email.demandProjectionRejectedSMS" placeholder="Enter Request Rejected SMS Text" ></textarea>
                            </div>
                            <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12"> <span lang="en">Email Text</span>
                                <!--<textarea rows="4" ng-model="email.registerSMS" placeholder="Enter Registration SMS Text" ></textarea>-->
                                <textarea ui-tinymce id="tf3"  ng-model="email.demandProjectionRejectedMessage" placeholder="Enter Request Rejected Email Text" ></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-lg-12 col-md-12 col-sm-12 col-sm-12">
            <div class="m-top20">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <label lang="en"> <span class="color-red f-bold f-left">*</span>Purchase Agenda Request Email</label>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                        <div class="row">

                            <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12"><span lang="en"> Email Subject</span>
                                <textarea rows="2" ng-model="email.purchaseAgendaRequestEmail" placeholder="Enter Request Email Subject" ></textarea>
                            </div>
                            <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12"> <span lang="en"> SMS Text</span>
                                <textarea rows="2" ng-model="email.purchaseAgendaRequestSMS" placeholder="Enter Request SMS Text" ></textarea>
                            </div>
                            <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12"><span lang="en"> Email Text</span>
                                <!--<textarea rows="4" ng-model="email.registerSMS" placeholder="Enter Registration SMS Text" ></textarea>-->
                                <textarea ui-tinymce id="tinymce312"  ng-model="email.purchaseAgendaRequestText" placeholder="Enter Request Email Text" ></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-lg-12 col-md-12 col-sm-12 col-sm-12">
            <div class="m-top20">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <label lang="en"> <span class="color-red f-bold f-left">*</span>Purchase Agenda Request Approval</label>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                        <div class="row">

                            <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12"> <span lang="en"> Email Subject</span>
                                <textarea rows="2" ng-model="email.purchaseAgendaApprovalEmail" placeholder="Enter Request Approval Email Subject" ></textarea>
                            </div>
                            <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12"> <span lang="en"> SMS Text</span>
                                <textarea rows="2" ng-model="email.purchaseAgendaApprovalSMS" placeholder="Enter Request Approval SMS Text" ></textarea>
                            </div>
                            <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12"> <span lang="en"> Email Text</span>
                                <!--<textarea rows="4" ng-model="email.registerSMS" placeholder="Enter Registration SMS Text" ></textarea>-->
                                <textarea ui-tinymce id="tinymce321" ng-model="email.purchaseAgendaApprovalMessage" placeholder="Enter Request Approval Email Text" ></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-lg-12 col-md-12 col-sm-12 col-sm-12">
            <div class="m-top20">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <label lang="en"> <span class="color-red f-bold f-left">*</span>Purchase Agenda Request Rejected</label>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                        <div class="row">

                            <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12"> <span lang="en"> Email Subject</span>
                                <textarea rows="2" ng-model="email.purchaseAgendaRejectedEmail" placeholder="Enter Request Rejected Email Subject" ></textarea>
                            </div>
                            <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12"> <span lang="en"> SMS Text</span>
                                <textarea rows="2" ng-model="email.purchaseAgendaRejectedSMS" placeholder="Enter Request Rejected SMS Text" ></textarea>
                            </div>
                            <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12"> <span lang="en">Email Text</span>
                                <!--<textarea rows="4" ng-model="email.registerSMS" placeholder="Enter Registration SMS Text" ></textarea>-->
                                <textarea ui-tinymce id="tinymce322"  ng-model="email.purchaseAgendaRejectedMessage" placeholder="Enter Request Rejected Email Text" ></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-lg-12 col-md-12 col-sm-12 col-sm-12">
            <div class="m-top20">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <label lang="en"> <span class="color-red f-bold f-left">*</span>Submit Bill Request Email</label>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                        <div class="row">

                            <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12"> <span lang="en"> Email Subject</span>
                                <textarea rows="2" ng-model="email.billSubmitRequestEmail" placeholder="Enter Request Email Subject" ></textarea>
                            </div>
                            <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12"> <span lang="en"> SMS Text</span>
                                <textarea rows="2" ng-model="email.billSubmitRequestSMS" placeholder="Enter Request SMS Text" ></textarea>
                            </div>
                            <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12"> <span lang="en"> Email Text</span>
                                <!--<textarea rows="4" ng-model="email.registerSMS" placeholder="Enter Registration SMS Text" ></textarea>-->
                                <textarea ui-tinymce id="tinymce31"  ng-model="email.billSubmitRequestText" placeholder="Enter Request Email Text" ></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-lg-12 col-md-12 col-sm-12 col-sm-12">
            <div class="m-top20">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <label lang="en"> <span class="color-red f-bold f-left">*</span>Submit Bill Request Approval</label>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                        <div class="row">

                            <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12"> <span lang="en"> Email Subject </span>
                                <textarea rows="2" ng-model="email.billSubmitApprovalEmail" placeholder="Enter Request Approval Email Subject" ></textarea>
                            </div>
                            <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12"> <span lang="en"> SMS Text</span>
                                <textarea rows="2" ng-model="email.billSubmitApprovalSMS" placeholder="Enter Request Approval SMS Text" ></textarea>
                            </div>
                            <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12"><span lang="en"> Email Text</span>
                                <!--<textarea rows="4" ng-model="email.registerSMS" placeholder="Enter Registration SMS Text" ></textarea>-->
                                <textarea ui-tinymce id="tinymce32" ng-model="email.billSubmitApprovalMessage" placeholder="Enter Request Approval Email Text" ></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-lg-12 col-md-12 col-sm-12 col-sm-12">
            <div class="m-top20">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <label lang="en"> <span class="color-red f-bold f-left">*</span>Submit Bill Request Rejected</label>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                        <div class="row">

                            <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12"> <span lang="en"> Email Subject</span>
                                <textarea rows="2" ng-model="email.billSubmitRejectedEmail" placeholder="Enter Request Rejected Email Subject" ></textarea>
                            </div>
                            <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12"> <span lang="en"> SMS Text</span>
                                <textarea rows="2" ng-model="email.billSubmitRejectedSMS" placeholder="Enter Request Rejected SMS Text" ></textarea>
                            </div>
                            <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12"> <span lang="en"> Email Text</span>
                                <!--<textarea rows="4" ng-model="email.registerSMS" placeholder="Enter Registration SMS Text" ></textarea>-->
                                <textarea ui-tinymce id="tinymce33"  ng-model="email.billSubmitRejectedMessage" placeholder="Enter Request Rejected Email Text" ></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
        <button type="submit" class="btn btn-success" lang="en">Update</button>
    </div>
    <!-- </div>-->
    </form>
    </div>
    </div>
    </div>

    </div>
    </div>
    </div>
    </div>

    <div id="registerSuccess" class="modal fade" role="dialog">
    <div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-body textStyle1 text-center">
    <div>Successfully Updated EMAIL DETAILS.</div>
    </div>
    </div>

    </div>
    </div>