<div class="breadcrumbArea">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pull-left">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/home"><span lang="en">Home</span> </a></li>
                <li class="breadcrumb-item"><span lang="en">Legal Management</span></li>
                <li class="breadcrumb-item"><span lang="en">Case Management</span></li>
                <li class="breadcrumb-item "><a href="#/writePetition"><span lang="en">Writ Petition</span></a></li>
                <li class="breadcrumb-item active"><span lang="en">Edit Writ Petition</span></li>
            </ol>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 pull-right">

            <a href="#/writePetition" class="backbtnArea pull-right">
                <div class="" id="content">
                    <div class="aside arrow">
                        <span class="glyphicon glyphicon-chevron-left"> </span>
                        <span class="backbtn" lang="en">Go Back</span>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

<div class="adminContent">

    <div id="lodingImage" ng-show="loadingImage"> <img src="images/gears.gif"></div>

    <div class="schemeMain" ng-show="!loadingImage">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="legalManagement">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="projectName"><span class="glyphicon glyphicon-hand-right"> </span>
                                <span lang="en">Edit Writ Petition </span>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix visible-block"></div>
                    <hr/>
                </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">

                <div class="createCase schemForms">
                    <!--<div class="text-center color-red f-bold" ng-show="petitionUpdationError">{{updatePetitionError}}</div>-->
                    <form class="row" role="form" name="myform" ng-submit="editWritePetition()">
                        <div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <label><span class="color-red f-bold f-left">*</span><span lang="en">Case Number</span>:</label><br>
                            <select class="form-control" ng-model="updateWritePetition.caseNumber" required>
                                <option value="">---Select Case Number---</option>
                                <option ng-repeat="x in caseNumber" ng-selected="updateWritePetition.caseNumber== x.caseNumber"
                                        value="{{x.caseNumber}}">{{x.caseNumber}}
                                </option>
                            </select>
                        </div>


                        <!--<div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12">-->
                            <!--<label for="caseNumber"><span class="color-red f-bold f-left">*</span><span lang="en">Case Number </span>:</label>-->
                            <!--<ui-select ng-model="updateWritePetition.caseId" theme="selectize">-->
                                <!--<ui-select-match placeholder="Select or Search Case Number">{{$select.selected.caseNumber}}</ui-select-match>-->
                                <!--<ui-select-choices repeat="x in caseNumber | filter: $select.search">-->
                                    <!--<span ng-bind-html="x.caseNumber | highlight: $select.search"></span>-->
                                    <!--&lt;!&ndash;<small ng-bind-html="assetType.assetName | highlight: $select.search"></small>&ndash;&gt;-->
                                <!--</ui-select-choices>-->
                            <!--</ui-select>-->
                        <!--</div>-->


                        <div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <label for="petitionId"><span class="color-red f-bold f-left">*</span><span lang="en">Petition Id</span>:</label>
                            <input type="text" class="form-control"
                                   id="petitionID" ng-model="updateWritePetition.petitionId"
                                   placeholder="Enter Petition ID"
                                   title="Enter Petition ID" required
                                   data-toggle="tooltip" data-placement="top"
                                   autocomplete="off"/>
                        </div>

                        <div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <label> <span class="color-red f-bold f-left">*</span><span lang="en">Case Petition Date</span>:</label>
                            <input ng-model="updateWritePetition.petitionDate" placeholder="Please Select date"
                                   type="text" ng-calendar format="%d-%m-%Y" required readonly>

                        </div>

                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label><span class="color-red f-bold f-left">*</span><span lang="en">Petitioner</span>:</label>
                            <textarea type="text" rows="5" class="form-control"
                                      ng-model="updateWritePetition.petitioner" required></textarea>
                        </div>


                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label><span class="color-red f-bold f-left">*</span><span lang="en">Respondent</span>:</label>
                            <textarea type="text" rows="5" class="form-control"
                                      ng-model="updateWritePetition.respondent" required></textarea>
                        </div>

                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label><span class="color-red f-bold f-left">*</span>1. <span lang="en">Particulars of the cause/order against which the petition is made</span>:
                            </label>
                            <textarea type="text" rows="5" class="form-control"
                                      ng-model="updateWritePetition.particular" required></textarea>

                        </div>


                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label><span class="color-red f-bold f-left">*</span>2. <span lang="en">A declaration that no matter pending</span>:
                            </label>
                            <textarea type="text" rows="5" class="form-control"
                                      ng-model="updateWritePetition.declaration" required></textarea>
                        </div>


                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label><span class="color-red f-bold f-left">*</span>3. <span lang="en">Details of remedies exhausted</span>:
                            </label>
                            <textarea type="text" rows="5" class="form-control"
                                      ng-model="updateWritePetition.remediesDetails" required></textarea>
                        </div>


                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label><span class="color-red f-bold f-left">*</span>4. <span lang="en">Delay, if any, in filing the petition</span>:
                            </label>
                            <textarea type="text" rows="5" class="form-control" ng-model="updateWritePetition.delay"
                                      required></textarea>
                        </div>

                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label><span class="color-red f-bold f-left">*</span>5. <span lang="en">Facts of the case</span>:
                            </label>
                            <textarea type="text" rows="5" class="form-control" ng-model="updateWritePetition.caseFacts"
                                      required></textarea>
                        </div>

                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label><span class="color-red f-bold f-left">*</span>6. <span lang="en">Grounds urged</span> :
                            </label>
                            <textarea type="text" rows="5" class="form-control" ng-model="updateWritePetition.grounds"
                                      required></textarea>
                        </div>

                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label><span class="color-red f-bold f-left">*</span>7. <span lang="en">Relief Prayed for</span>:
                            </label>
                            <textarea type="text" rows="5" class="form-control" ng-model="updateWritePetition.relief"
                                      required></textarea>
                        </div>

                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label><span class="color-red f-bold f-left">*</span>8. <span lang="en">Interim Relief</span>:
                            </label>
                            <textarea type="text" rows="5" class="form-control" ng-model="updateWritePetition.interim"
                                      required></textarea>
                        </div>

                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label><span class="color-red f-bold f-left">*</span>9. <span lang="en">Documents relied on but not in possession of the petitioner</span>:
                            </label>
                            <textarea type="text" rows="5" class="form-control" ng-model="updateWritePetition.documents"
                                      required></textarea>
                        </div>

                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label><span class="color-red f-bold f-left">*</span>10. <span lang="en">Caveat</span>:
                            </label>
                            <textarea type="text" rows="5" class="form-control" ng-model="updateWritePetition.caveat"
                                      required></textarea>
                        </div>


                        <hr/>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <button type="submit" class="btn btn-success" lang="en" value="Update">Save Writ Petition</button>
                            <a href="#/writePetition" class="btn btn-default" lang="en">Cancel</a>

                        </div>
                        <div class="text-center color-red f-bold" ng-show="petitionUpdationError">{{updatePetitionError}}</div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
