<div class="adminContent">

            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="projectName"><span class="glyphicon glyphicon-hand-right"> </span> Legal Management</div>
                        </div>
                    </div>
                    <div class="clearfix visible-block"></div>
                    <hr />
                </div>


                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="legalMain schemeMain">
                        <ul class="nav nav-tabs">
                            <li ng-class="{ active: isSet(1) }">
                                <a href ng-click="setTab(1)">Master Data</a>
                            </li>
                            <li ng-class="{ active: isSet(2) }">
                                <a href ng-click="setTab(2)">Create Case</a>
                            </li>
                            <li ng-class="{ active: isSet(3) }">
                                <a href ng-click="setTab(3)">Reports</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div ng-show="isSet(1)" id="masterData">

                                        <div class="projectMain m-top20">
                                            <div class="projectTile legalManagement">
                                                <div class="row">
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">CaseType</div>
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                        <button id="createCase" type="button" class="btn btn-success pull-right"
                                                                data-toggle="modal" data-target="#myModal">Create
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--****Creation**-->

                                            <!-- Modal -->
                                            <div class="modal fade" id="myModal" case="dialog">
                                                <div class="modal-dialog">
                                                    <!-- Modal content-->
                                                    <div class="modal-content" align="center">
                                                        <div class="modal-header">
                                                            <button type="button" class="close"
                                                                    data-dismiss="modal">&times;</button>
                                                            <h4 class="modal-title">Create CaseType</h4>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div>
                                                                <div class=" text-center color-red f-bold"></div>
                                                                <form class="simple-form" ng-submit="createCaseType(case)">
                                                                    <div class="form-group" align="left">
                                                                        <label for="caseNumber"><span
                                                                                class="color-red f-bold f-left">*</span>CaseNumber:</label>
                                                                        <input type="caseNumber" class="form-control"
                                                                               id="caseNumber" ng-model="case.caseNumber"
                                                                               placeholder="Enter Case Number"
                                                                               title="Enter CaseNumber"
                                                                               data-toggle="tooltip" data-placement="top"
                                                                               autocomplete="off"/>
                                                                    </div>
                                                                    <div class="form-group" align="left">
                                                                        <label for="caseType"><span
                                                                                class="color-red f-bold f-left">*</span>CaseType:</label>
                                                                        <input type="caseType" class="form-control"
                                                                               id="caseType" ng-model="case.caseType"
                                                                               placeholder="Enter CaseType"
                                                                               title="Enter CaseType" data-toggle="tooltip"
                                                                               data-placement="top" autocomplete="off"/>
                                                                    </div>

                                                                    <input id="saveCaseType" type="submit" value="Save"/>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <!--Edit-->
                                            <div class="modal fade" id="caseTypeEdit" case="dialog">
                                                <div class="modal-dialog">

                                                    <!-- Modal content-->
                                                    <div class="modal-content" align="center">
                                                        <div class="modal-header">
                                                            <button type="button" class="close"
                                                                    data-dismiss="modal">&times;</button>
                                                            <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
                                                            <h4 class="modal-title">Edit CaseType</h4>
                                                        </div>
                                                        <div class="modal-body">

                                                            <div>
                                                                <div class=" text-center color-red f-bold"></div>
                                                                <form class="simple-form" ng-submit="editCaseType()">
                                                                    <div class="form-group" align="left">
                                                                        <label for="caseNumber"><span
                                                                                class="color-red f-bold f-left">*</span>CaseNumber:</label>
                                                                        <input type="caseNumber" class="form-control"
                                                                               id="caseNumber1"
                                                                               ng-model="updateCaseType.caseNumber"
                                                                               placeholder="Enter CaseNumber"
                                                                               title="Enter CaseNumber"
                                                                               data-toggle="tooltip" data-placement="top"
                                                                               autocomplete="off"/>
                                                                    </div>
                                                                    <div class="form-group" align="left">
                                                                        <label for="caseType"><span
                                                                                class="color-red f-bold f-left">*</span>CaseType:</label>
                                                                        <input type="caseType" class="form-control"
                                                                               id="caseType1"
                                                                               ng-model="updateCaseType.caseType"
                                                                               placeholder=" Enter caseType"
                                                                               title="Enter CaseType" data-toggle="tooltip"
                                                                               data-placement="top" autocomplete="off"/>
                                                                    </div>
                                                                    <input type="submit" value="Update"/>
                                                                    <input type="button" value="Cancel"
                                                                           ng-click="cancelEdit()"/>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <!--**deletion**-->
                                            <div class="modal fade" id="caseTypeDelete" case="dialog">
                                                            <div class="modal-dialog">
                                                                <!-- Modal content-->
                                                                <div class="modal-content" align="center">
                                                                    <div class="modal-header">

                                                                    </div>
                                                                    <div class="modal-body">
                                                                        <button type="button" class="close"
                                                                                data-dismiss="modal">&times;</button>
                                                                        <div class="row">
                                                                            <div class="col-lg-12">
                                                                                <h4 class="modal-title">Are you sure, you want to delete
                                                                                    the CaseType: {{caseType}}?</h4>
                                                                            </div>
                                                                            <div class="col-lg-12">
                                                                                <div>
                                                                                    <button class="btn btn-success"
                                                                                            ng-click="deleteCaseType()">Yes
                                                                                    </button>
                                                                                    <button class="btn btn-default"
                                                                                            data-dismiss="modal">No
                                                                                    </button>
                                                                                </div>
                                                                            </div>
                                                                        </div>


                                                                    </div>


                                                                </div>

                                                            </div>
                                                        </div>

                                            <div class="projectInner table-responsive">

                                                <!--<table datatable="ng" class="table table-bordered table-striped">-->

                                            <table datatable="ng" class="table table-bordered table-striped">

                                                <thead>
                                                <tr>

                                                    <th class="caseNumber" custom-sort order="'caseNumber'" sort="sort">Case Number&nbsp;</th>
                                                    <th class="caseType" custom-sort order="'caseType'" sort="sort">Case Type&nbsp;</th>
                                                    <th class="actions" custom-sort order="'actions'" sort="sort">Actions&nbsp;</th>

                                                </tr>
                                                </thead>

                                                <tbody>
                                                <tr ng-repeat="caseTypeInfo in caseTypeData">

                                                    <td>{{caseTypeInfo.caseNumber}}</td>
                                                    <td>{{caseTypeInfo.caseType}}</td>
                                                    <td>
                                                        <button class="btn btn-primary"
                                                                data-backdrop="static" data-keyboard="false" data-toggle="modal"
                                                                data-target="#caseTypeEdit" ng-click="editCasePopup(caseTypeInfo)"> <span class="glyphicon glyphicon-pencil"></span></button>
                                                        <button class="btn btn-danger" data-toggle="modal"
                                                                data-target="#caseTypeDelete"
                                                                ng-click="deleteCasePopup(caseTypeInfo)"><span class="glyphicon glyphicon-trash"></span></button>
                                                    </td>


                                                </tr>
                                                </tbody>
                                            </table>
                                            </div>

                                        </div>



                 <!--**********************************Advocate Screens************************************************-->
                                        <div class="projectMain m-top20">
                                            <div class="projectTile legalManagement">
                                                <div class="row">
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">Advocate</div>
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                        <button id="createAdvocate" type="button" class="btn btn-danger pull-right"
                                                                data-toggle="modal" data-target="#myModal1">Create
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--****Creation**-->

                                            <!-- Modal -->
                                            <div class="modal fade" id="myModal1" advocate="dialog">
                                                <div class="modal-dialog">
                                                    <!-- Modal content-->
                                                    <div class="modal-content" align="center">
                                                        <div class="modal-header">
                                                            <button type="button" class="close"
                                                                    data-dismiss="modal">&times;</button>
                                                            <h4 class="modal-title">Create Advocate</h4>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div>
                                                                <div class=" text-center color-red f-bold"></div>
                                                                <form class="simple-form" ng-submit="createAdvocate(advocate)">
                                                                    <div class="form-group" align="left">
                                                                        <label for="name"><span
                                                                                class="color-red f-bold f-left">*</span>Advocate Name:</label>
                                                                        <input type="name" class="form-control"
                                                                               id="name" ng-model="advocate.name"
                                                                               placeholder="Enter Name"
                                                                               title="Enter Name"
                                                                               data-toggle="tooltip" data-placement="top"
                                                                               autocomplete="off"/>
                                                                    </div>
                                                                    <div class="form-group" align="left">
                                                                        <label for="email"><span
                                                                                class="color-red f-bold f-left">*</span>Email:</label>
                                                                        <input type="email" class="form-control"
                                                                               id="email" ng-model="advocate.email"
                                                                               placeholder="Enter Email"
                                                                               title="Enter Email"
                                                                               data-toggle="tooltip" data-placement="top"
                                                                               autocomplete="off"/>
                                                                    </div>
                                                                    <div class="form-group" align="left">
                                                                        <label for="designation"><span
                                                                                class="color-red f-bold f-left">*</span>Designation:</label>
                                                                        <input type="designation" class="form-control"
                                                                               id="designation" ng-model="advocate.designation"
                                                                               placeholder="Enter Designation"
                                                                               title="Enter Designation"
                                                                               data-toggle="tooltip" data-placement="top"
                                                                               autocomplete="off"/>
                                                                    </div>
                                                                    <div class="form-group" align="left">
                                                                        <label for="phoneNumber"><span
                                                                                class="color-red f-bold f-left">*</span>Phone Number:</label>
                                                                        <input type="phoneNumber" class="form-control"
                                                                               id="phoneNumber" ng-model="advocate.phoneNumber"
                                                                               placeholder="Enter PhoneNumber"
                                                                               title="Enter PhoneNumber"
                                                                               data-toggle="tooltip" data-placement="top"
                                                                               autocomplete="off"/>
                                                                    </div>

                                                                    <input id="saveAdvocate" type="submit" value="Save"/>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <!--Edit-->
                                            <div class="modal fade" id="advocateEdit" advocate="dialog">
                                                <div class="modal-dialog">

                                                    <!-- Modal content-->
                                                    <div class="modal-content" align="center">
                                                        <div class="modal-header">
                                                            <button type="button" class="close"
                                                                    data-dismiss="modal">&times;</button>
                                                            <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
                                                            <h4 class="modal-title">Edit Advocate</h4>
                                                        </div>
                                                        <div class="modal-body">

                                                            <div>
                                                                <div class=" text-center color-red f-bold"></div>
                                                                <form class="simple-form" ng-submit="editAdvocate()">
                                                                    <div class="form-group" align="left">
                                                                        <label for="name"><span
                                                                                class="color-red f-bold f-left">*</span>Advocate Name:</label>
                                                                        <input type="name" class="form-control"
                                                                               id="name1"
                                                                               ng-model="updateAdvocate.name"
                                                                               placeholder="Enter Advocate Name"
                                                                               title="Enter Advocate Name"
                                                                               data-toggle="tooltip" data-placement="top"
                                                                               autocomplete="off"/>
                                                                    </div>
                                                                    <div class="form-group" align="left">
                                                                        <label for="email"><span
                                                                                class="color-red f-bold f-left">*</span>Email:</label>
                                                                        <input type="email" class="form-control"
                                                                               id="email1"
                                                                               ng-model="updateAdvocate.email"
                                                                               placeholder="Enter Advocate Email"
                                                                               title="Enter Advocate Email"
                                                                               data-toggle="tooltip" data-placement="top"
                                                                               autocomplete="off"/>
                                                                    </div>
                                                                    <div class="form-group" align="left">
                                                                        <label for="designation"><span
                                                                                class="color-red f-bold f-left">*</span>Designation:</label>
                                                                        <input type="designation" class="form-control"
                                                                               id="designation1"
                                                                               ng-model="updateAdvocate.designation"
                                                                               placeholder="Enter designation"
                                                                               title="Enter designation"
                                                                               data-toggle="tooltip" data-placement="top"
                                                                               autocomplete="off"/>
                                                                    </div>
                                                                    <div class="form-group" align="left">
                                                                        <label for="phoneNumber"><span
                                                                                class="color-red f-bold f-left">*</span>Phone Number:</label>
                                                                        <input type="phoneNumber" class="form-control"
                                                                               id="phoneNumber1"
                                                                               ng-model="updateAdvocate.phoneNumber"
                                                                               placeholder="Enter PhoneNumber"
                                                                               title="Enter PhoneNumber"
                                                                               data-toggle="tooltip" data-placement="top"
                                                                               autocomplete="off"/>
                                                                    </div>
                                                                    <input type="submit" value="Update"/>
                                                                    <input type="button" value="Cancel"
                                                                           ng-click="cancelEdit()"/>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <!--**deletion**-->
                                            <div class="modal fade" id="advocateDelete" advocate="dialog">
                                                            <div class="modal-dialog">
                                                                <!-- Modal content-->
                                                                <div class="modal-content" align="center">
                                                                    <div class="modal-header">

                                                                    </div>
                                                                    <div class="modal-body">
                                                                        <button type="button" class="close"
                                                                                data-dismiss="modal">&times;</button>
                                                                        <div class="row">
                                                                            <div class="col-lg-12">
                                                                                <h4 class="modal-title">Are you sure, you want to delete
                                                                                    the Advocate: {{name}}?</h4>
                                                                            </div>
                                                                            <div class="col-lg-12">
                                                                                <div>
                                                                                    <button class="btn btn-warning"
                                                                                            ng-click="deleteAdvocate()">Yes
                                                                                    </button>
                                                                                    <button class="btn btn-default"
                                                                                            data-dismiss="modal">No
                                                                                    </button>
                                                                                </div>
                                                                            </div>
                                                                        </div>


                                                                    </div>


                                                                </div>

                                                            </div>
                                                        </div>


                                            <div class="projectInner table-responsive">
                                                <table datatable="ng" class="table table-bordered table-striped">
                                                <thead>
                                                <tr>

                                                    <th class="name" custom-sort order="'name'" sort="sort">Name&nbsp;</th>
                                                    <th class="email" custom-sort order="'email'" sort="sort">Email&nbsp;</th>
                                                    <th class="designation" custom-sort order="'designation'" sort="sort">Designation&nbsp;</th>
                                                    <th class="phoneNumber" custom-sort order="'phoneNumber'" sort="sort">PhoneNumber&nbsp;</th>
                                                    <th class="actions" custom-sort order="'actions'" sort="sort">Actions&nbsp;</th>

                                                </tr>
                                                </thead>

                                                <tbody>
                                                <tr ng-repeat="advocateInfo in advocateData">

                                                    <td>{{advocateInfo.name}}</td>
                                                    <td>{{advocateInfo.email}}</td>
                                                    <td>{{advocateInfo.designation}}</td>
                                                    <td>{{advocateInfo.phoneNumber}}</td>
                                                    <td>
                                                        <button class="btn btn-primary"
                                                                data-backdrop="static" data-keyboard="false" data-toggle="modal"
                                                                data-target="#advocateEdit" ng-click="editAdvocatePopup(advocateInfo)"><span class="glyphicon glyphicon-pencil"></span></button>
                                                        <button class="btn btn-danger" data-toggle="modal"
                                                                data-target="#advocateDelete"
                                                                ng-click="deleteAdvocatePopup(advocateInfo)"><span class="glyphicon glyphicon-trash"></span></button>
                                                    </td>


                                                </tr>
                                                </tbody>
                                            </table>
                                            </div>
                                        </div>

                <!--***********************AdvocateScreens*******************************-->

                 <!--************************Status Screen*****************************-->
                                        <div class="projectMain m-top20">
                                            <div class="projectTile legalManagement">
                                                <div class="row">
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">Status</div>
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                        <button id="createStatus" type="button" class="btn btn-danger pull-right"
                                                                data-toggle="modal" data-target="#myModal2">Create</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--****Creation**-->
                                            <!-- Modal -->
                                            <div class="modal fade" id="myModal2" status="dialog">
                                                <div class="modal-dialog">
                                                    <!-- Modal content-->
                                                    <div class="modal-content" align="center">
                                                        <div class="modal-header">
                                                            <button type="button" class="close"
                                                                    data-dismiss="modal">&times;</button>
                                                            <h4 class="modal-title">Create Status</h4>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div>
                                                                <div class=" text-center color-red f-bold"></div>
                                                                <form class="simple-form" ng-submit="createStatus(status)">
                                                                    <div class="form-group" align="left">
                                                                        <label for="field1"><span
                                                                                class="color-red f-bold f-left">*</span>Filed1:</label>
                                                                        <input type="field1" class="form-control"
                                                                               id="field1" ng-model="status.field1"
                                                                               placeholder="Enter field1"
                                                                               title="Enter field1"
                                                                               data-toggle="tooltip" data-placement="top"
                                                                               autocomplete="off"/>
                                                                    </div>
                                                                    <div class="form-group" align="left">
                                                                        <label for="field2"><span
                                                                                class="color-red f-bold f-left">*</span>Field2:</label>
                                                                        <input type="field2" class="form-control"
                                                                               id="field2" ng-model="status.field2"
                                                                               placeholder="Enter field2"
                                                                               title="Enter field2"
                                                                               data-toggle="tooltip" data-placement="top"
                                                                               autocomplete="off"/>
                                                                    </div>
                                                                    <!--<div class="form-group" align="left">-->
                                                                        <!--<label for="designation"><span-->
                                                                                <!--class="color-red f-bold f-left">*</span>Designation:</label>-->
                                                                        <!--<input type="designation" class="form-control"-->
                                                                               <!--id="designation" ng-model="advocate.designation"-->
                                                                               <!--placeholder="Enter Designation"-->
                                                                               <!--title="Enter Designation"-->
                                                                               <!--data-toggle="tooltip" data-placement="top"-->
                                                                               <!--autocomplete="off"/>-->
                                                                    <!--</div>-->
                                                                    <!--<div class="form-group" align="left">-->
                                                                        <!--<label for="phoneNumber"><span-->
                                                                                <!--class="color-red f-bold f-left">*</span>Phone Number:</label>-->
                                                                        <!--<input type="phoneNumber" class="form-control"-->
                                                                               <!--id="phoneNumber" ng-model="advocate.phoneNumber"-->
                                                                               <!--placeholder="Enter PhoneNumber"-->
                                                                               <!--title="Enter PhoneNumber"-->
                                                                               <!--data-toggle="tooltip" data-placement="top"-->
                                                                               <!--autocomplete="off"/>-->
                                                                    <!--</div>-->

                                                                    <input id="saveStatus" type="submit" value="Save"/>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <!--Edit-->
                                            <div class="modal fade" id="statusEdit" status="dialog">
                                                <div class="modal-dialog">

                                                    <!-- Modal content-->
                                                    <div class="modal-content" align="center">
                                                        <div class="modal-header">
                                                            <button type="button" class="close"
                                                                    data-dismiss="modal">&times;</button>
                                                            <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
                                                            <h4 class="modal-title">Edit Status</h4>
                                                        </div>
                                                        <div class="modal-body">

                                                            <div>
                                                                <div class=" text-center color-red f-bold"></div>
                                                                <form class="simple-form" ng-submit="editStatus()">
                                                                    <div class="form-group" align="left">
                                                                        <label for="field1"><span
                                                                                class="color-red f-bold f-left">*</span>field1:</label>
                                                                        <input type="field1" class="form-control"
                                                                               id="field11"
                                                                               ng-model="updateStatus.field1"
                                                                               placeholder="Enter field1"
                                                                               title="Enter field1"
                                                                               data-toggle="tooltip" data-placement="top"
                                                                               autocomplete="off"/>
                                                                    </div>
                                                                    <div class="form-group" align="left">
                                                                        <label for="field2"><span
                                                                                class="color-red f-bold f-left">*</span>Field2:</label>
                                                                        <input type="field2" class="form-control"
                                                                               id="field21"
                                                                               ng-model="updateStatus.field2"
                                                                               placeholder="Enter field2"
                                                                               title="Enter field2"
                                                                               data-toggle="tooltip" data-placement="top"
                                                                               autocomplete="off"/>
                                                                    </div>
                                                                    <!--<div class="form-group" align="left">-->
                                                                        <!--<label for="designation"><span-->
                                                                                <!--class="color-red f-bold f-left">*</span>Designation:</label>-->
                                                                        <!--<input type="designation" class="form-control"-->
                                                                               <!--id="designation1"-->
                                                                               <!--ng-model="updateAdvocate.designation"-->
                                                                               <!--placeholder="Enter designation"-->
                                                                               <!--title="Enter designation"-->
                                                                               <!--data-toggle="tooltip" data-placement="top"-->
                                                                               <!--autocomplete="off"/>-->
                                                                    <!--</div>-->
                                                                    <!--<div class="form-group" align="left">-->
                                                                        <!--<label for="phoneNumber"><span-->
                                                                                <!--class="color-red f-bold f-left">*</span>Phone Number:</label>-->
                                                                        <!--<input type="phoneNumber" class="form-control"-->
                                                                               <!--id="phoneNumber1"-->
                                                                               <!--ng-model="updateAdvocate.phoneNumber"-->
                                                                               <!--placeholder="Enter PhoneNumber"-->
                                                                               <!--title="Enter PhoneNumber"-->
                                                                               <!--data-toggle="tooltip" data-placement="top"-->
                                                                               <!--autocomplete="off"/>-->
                                                                    <!--</div>-->
                                                                    <input type="submit" value="Update"/>
                                                                    <input type="button" value="Cancel"
                                                                           ng-click="cancelEdit()"/>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <!--**deletion**-->
                                            <div class="modal fade" id="statusDelete" status="dialog">
                                                            <div class="modal-dialog">
                                                                <!-- Modal content-->
                                                                <div class="modal-content" align="center">
                                                                    <div class="modal-header">

                                                                    </div>
                                                                    <div class="modal-body">
                                                                        <button type="button" class="close"
                                                                                data-dismiss="modal">&times;</button>
                                                                        <div class="row">
                                                                            <div class="col-lg-12">
                                                                                <h4 class="modal-title">Are you sure, you want to delete
                                                                                    the Status: {{statusfield1}}?</h4>
                                                                            </div>
                                                                            <div class="col-lg-12">
                                                                                <div>
                                                                                    <button class="btn btn-warning"
                                                                                            ng-click="deleteStatus()">Yes
                                                                                    </button>
                                                                                    <button class="btn btn-default"
                                                                                            data-dismiss="modal">No
                                                                                    </button>
                                                                                </div>
                                                                            </div>
                                                                        </div>


                                                                    </div>


                                                                </div>

                                                            </div>
                                                        </div>

                                            <div class="projectInner table-responsive">
                                                <table datatable="ng" class="table table-bordered table-striped">

                                                <thead>
                                                    <tr>
                                                        <th class="field1" custom-sort order="'field1'" sort="sort">Field1&nbsp;</th>
                                                        <th class="field2" custom-sort order="'field2'" sort="sort">Field2&nbsp;</th>
                                                        <!--<th class="designation" custom-sort order="'designation'" sort="sort">Designation&nbsp;</th>-->
                                                        <!--<th class="phoneNumber" custom-sort order="'phoneNumber'" sort="sort">PhoneNumber&nbsp;</th>-->
                                                        <th class="actions" custom-sort order="'actions'" sort="sort">Actions&nbsp;</th>

                                                    </tr>
                                                </thead>

                                                <tbody>
                                                <tr ng-repeat="statusInfo in statusData">

                                                    <td>{{statusInfo.field1}}</td>
                                                    <td>{{statusInfo.field2}}</td>
                                                    <!--<td>{{advocateInfo.designation}}</td>-->
                                                    <!--<td>{{advocateInfo.phoneNumber}}</td>-->
                                                    <td>
                                                        <button class="btn btn-primary"
                                                                data-backdrop="static" data-keyboard="false" data-toggle="modal"
                                                                data-target="#statusEdit" ng-click="editStatusPopup(statusInfo)"><span class="glyphicon glyphicon-pencil"></span></button>
                                                        <button class="btn btn-danger" data-toggle="modal"
                                                                data-target="#statusDelete"
                                                                ng-click="deleteStatusPopup(statusInfo)"><span class="glyphicon glyphicon-trash"></span></button>
                                                    </td>


                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        </div>
                <!--******************************status screen**************************-->
                <!--******************************Priority screen**************************-->
                                        <div class="projectMain m-top20">
                                            <div class="projectTile legalManagement">
                                                <div class="row">
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">Priority</div>
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                        <button id="createPriority" type="button" class="btn btn-danger pull-right"
                                                                data-toggle="modal" data-target="#myModal3">Create</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--****Creation**-->

                                            <!-- Modal -->
                                            <div class="modal fade" id="myModal3" priority="dialog">
                                                <div class="modal-dialog">
                                                    <!-- Modal content-->
                                                    <div class="modal-content" align="center">
                                                        <div class="modal-header">
                                                            <button type="button" class="close"
                                                                    data-dismiss="modal">&times;</button>
                                                            <h4 class="modal-title">Create Priority</h4>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div>
                                                                <div class=" text-center color-red f-bold"></div>
                                                                <form class="simple-form" ng-submit="createPriority(priority)">
                                                                    <div class="form-group" align="left">
                                                                        <label for="priority1"><span
                                                                                class="color-red f-bold f-left">*</span>Priority1:</label>
                                                                        <input type="priority1" class="form-control"
                                                                               id="priority1" ng-model="priority.field1"
                                                                               placeholder="Enter priority1"
                                                                               title="Enter priority1"
                                                                               data-toggle="tooltip" data-placement="top"
                                                                               autocomplete="off"/>
                                                                    </div>
                                                                    <div class="form-group" align="left">
                                                                        <label for="priority2"><span
                                                                                class="color-red f-bold f-left">*</span>Priority2:</label>
                                                                        <input type="priority2" class="form-control"
                                                                               id="priority2" ng-model="priority.field2"
                                                                               placeholder="Enter priority2"
                                                                               title="Enter priority2"
                                                                               data-toggle="tooltip" data-placement="top"
                                                                               autocomplete="off"/>
                                                                    </div>
                                                                    <input id="savePriority" type="submit" value="Save"/>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <!--Edit-->
                                            <div class="modal fade" id="priorityEdit" priority="dialog">
                                                <div class="modal-dialog">

                                                    <!-- Modal content-->
                                                    <div class="modal-content" align="center">
                                                        <div class="modal-header">
                                                            <button type="button" class="close"
                                                                    data-dismiss="modal">&times;</button>
                                                            <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
                                                            <h4 class="modal-title">Edit Priority</h4>
                                                        </div>
                                                        <div class="modal-body">

                                                            <div>
                                                                <div class=" text-center color-red f-bold"></div>
                                                                <form class="simple-form" ng-submit="editPriority()">
                                                                    <div class="form-group" align="left">
                                                                        <label for="priority1"><span
                                                                                class="color-red f-bold f-left">*</span>Priority1:</label>
                                                                        <input type="priority1" class="form-control"
                                                                               id="priority11"
                                                                               ng-model="updatePriority.priority1"
                                                                               placeholder="Enter priority1"
                                                                               title="Enter priority1"
                                                                               data-toggle="tooltip" data-placement="top"
                                                                               autocomplete="off"/>
                                                                    </div>
                                                                    <div class="form-group" align="left">
                                                                        <label for="priority2"><span
                                                                                class="color-red f-bold f-left">*</span>Priority2:</label>
                                                                        <input type="priority2" class="form-control"
                                                                               id="priority22"
                                                                               ng-model="updatePriority.priority2"
                                                                               placeholder="Enter priority2"
                                                                               title="Enter priority2"
                                                                               data-toggle="tooltip" data-placement="top"
                                                                               autocomplete="off"/>
                                                                    </div>

                                                                    <input type="submit" value="Update"/>
                                                                    <input type="button" value="Cancel"
                                                                           ng-click="cancelEdit()"/>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <!--**deletion**-->
                                            <div class="modal fade" id="priorityDelete" priority="dialog">
                                                            <div class="modal-dialog">
                                                                <!-- Modal content-->
                                                                <div class="modal-content" align="center">
                                                                    <div class="modal-header">

                                                                    </div>
                                                                    <div class="modal-body">
                                                                        <button type="button" class="close"
                                                                                data-dismiss="modal">&times;</button>
                                                                        <div class="row">
                                                                            <div class="col-lg-12">
                                                                                <h4 class="modal-title">Are you sure, you want to delete
                                                                                    the Priority: {{priority1}}?</h4>
                                                                            </div>
                                                                            <div class="col-lg-12">
                                                                                <div>
                                                                                    <button class="btn btn-warning"
                                                                                            ng-click="deletePriority()">Yes
                                                                                    </button>
                                                                                    <button class="btn btn-default"
                                                                                            data-dismiss="modal">No
                                                                                    </button>
                                                                                </div>
                                                                            </div>
                                                                        </div>


                                                                    </div>


                                                                </div>

                                                            </div>
                                                        </div>


                                            <div class="projectInner table-responsive">
                                                <table datatable="ng" class="table table-bordered table-striped">
                                                <thead>
                                                <tr>

                                                    <th class="priority1" custom-sort order="'priority1'" sort="sort">Priority1&nbsp;</th>
                                                    <th class="priority2" custom-sort order="'priority2'" sort="sort">priority2&nbsp;</th>
                                                    <th class="actions" custom-sort order="'actions'" sort="sort">Actions&nbsp;</th>

                                                </tr>
                                                </thead>

                                                <tbody>
                                                <tr ng-repeat="priorityInfo in priorityData">

                                                    <td>{{priorityInfo.priority1}}</td>
                                                    <td>{{priorityInfo.priority2}}</td>

                                                    <td>
                                                        <button class="btn btn-primary"
                                                                data-backdrop="static" data-keyboard="false" data-toggle="modal"
                                                                data-target="#priorityEdit" ng-click="editPriorityPopup(priorityInfo)"><span class="glyphicon glyphicon-pencil"></span></button>
                                                        <button class="btn btn-danger" data-toggle="modal"
                                                                data-target="#priorityDelete"
                                                                ng-click="deletePriorityPopup(priorityInfo)"><span class="glyphicon glyphicon-trash"></span></button>
                                                    </td>


                                                </tr>
                                                </tbody>
                                            </table>
                                            </div>
                                        </div>
                <!--******************************Priority screen**************************-->
                <!--******************************Acts screen**************************-->
                                        <div class="projectMain m-top20">
                                            <div class="projectTile legalManagement">
                                                <div class="row">
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">Acts</div>
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                        <button id="createAct" type="button" class="btn btn-danger pull-right"
                                                                data-toggle="modal" data-target="#myModal4">Create</button>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- Modal -->
                                            <div class="modal fade" id="myModal4" act="dialog">
                                                <div class="modal-dialog">
                                                    <!-- Modal content-->
                                                    <div class="modal-content" align="center">
                                                        <div class="modal-header">
                                                            <button type="button" class="close"
                                                                    data-dismiss="modal">&times;</button>
                                                            <h4 class="modal-title">Create Act</h4>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div>
                                                                <div class=" text-center color-red f-bold"></div>
                                                                <form class="simple-form" ng-submit="createAct(act)">
                                                                    <div class="form-group" align="left">
                                                                        <label for="name"><span
                                                                                class="color-red f-bold f-left">*</span>Act Name:</label>
                                                                        <input type="actName" class="form-control"
                                                                               id="actName" ng-model="act.actName"
                                                                               placeholder="Enter Act Name"
                                                                               title="Enter Act Name"
                                                                               data-toggle="tooltip" data-placement="top"
                                                                               autocomplete="off"/>
                                                                    </div>
                                                                    <div class="form-group" align="left">
                                                                        <label for="description"><span
                                                                                class="color-red f-bold f-left">*</span>Description:</label>
                                                                        <input type="description" class="form-control"
                                                                               id="description" ng-model="act.description"
                                                                               placeholder="Enter description"
                                                                               title="Enter description"
                                                                               data-toggle="tooltip" data-placement="top"
                                                                               autocomplete="off"/>
                                                                    </div>
                                                                    <input id="saveAct" type="submit" value="Save"/>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <!--Edit-->
                                            <div class="modal fade" id="actEdit" act="dialog">
                                                <div class="modal-dialog">

                                                    <!-- Modal content-->
                                                    <div class="modal-content" align="center">
                                                        <div class="modal-header">
                                                            <button type="button" class="close"
                                                                    data-dismiss="modal">&times;</button>
                                                            <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
                                                            <h4 class="modal-title">Edit Act</h4>
                                                        </div>
                                                        <div class="modal-body">

                                                            <div>
                                                                <div class=" text-center color-red f-bold"></div>
                                                                <form class="simple-form" ng-submit="editAct()">
                                                                    <div class="form-group" align="left">
                                                                        <label for="actName"><span
                                                                                class="color-red f-bold f-left">*</span>Act Name:</label>
                                                                        <input type="actName" class="form-control"
                                                                               id="actName1"
                                                                               ng-model="updateAct.actName"
                                                                               placeholder="Enter actName"
                                                                               title="Enter actName"
                                                                               data-toggle="tooltip" data-placement="top"
                                                                               autocomplete="off"/>
                                                                    </div>
                                                                    <div class="form-group" align="left">
                                                                        <label for="description"><span
                                                                                class="color-red f-bold f-left">*</span>Description:</label>
                                                                        <input type="description" class="form-control"
                                                                               id="description1"
                                                                               ng-model="updateAct.description"
                                                                               placeholder="Enter description"
                                                                               title="Enter description"
                                                                               data-toggle="tooltip" data-placement="top"
                                                                               autocomplete="off"/>
                                                                    </div>

                                                                    <input type="submit" value="Update"/>
                                                                    <input type="button" value="Cancel"
                                                                           ng-click="cancelEdit()"/>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <!--**deletion**-->
                                            <div class="modal fade" id="actDelete" act="dialog">
                                                            <div class="modal-dialog">
                                                                <!-- Modal content-->
                                                                <div class="modal-content" align="center">
                                                                    <div class="modal-header">

                                                                    </div>
                                                                    <div class="modal-body">
                                                                        <button type="button" class="close"
                                                                                data-dismiss="modal">&times;</button>
                                                                        <div class="row">
                                                                            <div class="col-lg-12">
                                                                                <h4 class="modal-title">Are you sure, you want to delete
                                                                                    the Act: {{actName}}?</h4>
                                                                            </div>
                                                                            <div class="col-lg-12">
                                                                                <div>
                                                                                    <button class="btn btn-warning"
                                                                                            ng-click="deleteAct()">Yes
                                                                                    </button>
                                                                                    <button class="btn btn-default"
                                                                                            data-dismiss="modal">No
                                                                                    </button>
                                                                                </div>
                                                                            </div>
                                                                        </div>


                                                                    </div>


                                                                </div>

                                                            </div>
                                                        </div>


                                            <div class="projectInner table-responsive">
                                                <table datatable="ng" class="table table-bordered table-striped">
                                                <thead>
                                                <tr>

                                                    <th class="actName" custom-sort order="'actName'" sort="sort">Act Name&nbsp;</th>
                                                    <th class="description" custom-sort order="'description'" sort="sort">Description&nbsp;</th>
                                                    <th class="actions" custom-sort order="'actions'" sort="sort">Actions&nbsp;</th>

                                                </tr>
                                                </thead>

                                                <tbody>
                                                <tr ng-repeat="actInfo in actData">

                                                    <td>{{actInfo.actName}}</td>
                                                    <td>{{actInfo.description}}</td>

                                                    <td>
                                                        <button class="btn btn-primary"
                                                                data-backdrop="static" data-keyboard="false" data-toggle="modal"
                                                                data-target="#actEdit" ng-click="editActPopup(actInfo)"><span class="glyphicon glyphicon-pencil"></span></button>
                                                        <button class="btn btn-danger" data-toggle="modal"
                                                                data-target="#actDelete"
                                                                ng-click="deleteActPopup(actInfo)"><span class="glyphicon glyphicon-trash"></span></button>
                                                    </td>


                                                </tr>
                                                </tbody>
                                            </table>
                                            </div>
                                        </div>
                <!--******************************Acts screen**************************-->
                                    </div>
                            <div ng-show="isSet(2)">
                              <h4 class="text-center">Create Case</h4>

                               <div class="schemForms">
                                   <form class="simple-form" ng-submit="createCase()">
                                       <div class="row">
                                           <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                               <label><span class="color-red f-bold f-left">*</span>Case Type:</label><br>
                                               <select class="" ng-model="user.caseType">
                                                   <option ng-repeat="x in caseTypes" value="{{x.caseType}}">{{x.caseType}}</option>
                                               </select>
                                           </div>
                                           <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                               <label><span class="color-red f-bold f-left">*</span>Advocate:</label><br>
                                               <select class="form-control" ng-model="user.advocate">
                                                   <option ng-repeat="x in advocates" value="{{x.name}}">{{x.name}}</option>
                                               </select>
                                           </div>
                                           <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                               <label><span class="color-red f-bold f-left">*</span>Status:</label><br>
                                               <select class="form-control" ng-model="user.status">
                                                   <option ng-repeat="x in status" value="{{x.field1}}">{{x.field1}}</option>
                                               </select>
                                           </div>
                                           <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                               <label><span class="color-red f-bold f-left">*</span>Priority:</label><br>
                                               <select class="form-control" ng-model="user.priority">
                                                   <option ng-repeat="x in priority" value="{{x.priority1}}">{{x.priority1}}</option>
                                               </select>
                                           </div>
                                           <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                               <label><span class="color-red f-bold f-left">*</span>Act:</label><br>
                                               <select class="form-control" ng-model="user.act">
                                                   <option ng-repeat="x in acts" value="{{x.actName}}">{{x.actName}}</option>
                                               </select>
                                           </div>
                                           <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                               <label><span class="color-red f-bold f-left">*</span>StakeHolder:</label><br>
                                               <select class="form-control" ng-model="user.holders">
                                                   <option ng-repeat="x in holders" value="{{x.name}}">{{x.name}}</option>
                                               </select>
                                           </div>
                                           <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                               <label><span class="color-red f-bold f-left">*</span>Hearing Date:</label>
                                               <input ng-model="scheme.startDate" placeholder="Please select date"  type="text"   ng-calendar  ng-model="myDate" format="%d-%m-%Y">
                                           </div>

                                           <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                               <label><span class="color-red f-bold f-left">*</span>Comment:</label>
                                               <textarea type="text" rows="5" class="form-control" ng-model="user.lastName"></textarea>
                                           </div>
                                           <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                               <button class="btn btn-success">Submit</button>
                                               <button class="btn btn-danger">Reset</button>
                                           </div>
                                       </div>
                                   </form>
                               </div>

                            </div>
                        </div>
                     </div>
                </div>
            </div>
</div>