<div class="breadcrumbArea">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pull-left">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/home"><span lang="en">Home</span> </a></li>
                <li class="breadcrumb-item active"><span lang="en"> Project/Ward Works </span></li>
                <li class="breadcrumb-item active"> <span lang="en">NOC Requests </span> </li>
                <li class="breadcrumb-item active"><span lang="en">Field Reports</span></li>
            </ol>
        </div>
    </div>
</div>

<div class="adminContent">
    <div id="lodingImage" ng-show="loadingImage"> <img src="images/gears.gif"></div>
    <div class="schemeMain" ng-show="!loadingImage">

        <div class="row">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="projectName" lang="en"><span class="glyphicon glyphicon-hand-right"> </span> NOC Reports</div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="addScheme pull-right" ng-show="showAction">
                            <button class="btn btn-default m-right5" lang="en">
                                <span class="glyphicon glyphicon-print"></span> Print
                            </button>
                            <button class="btn btn-default m-right5" ng-click="exportToExcel('#projectMilestone')" lang="en">
                                <span class="glyphicon glyphicon-share"></span> Export to Excel
                            </button>
                            <button class="btn btn-success" data-toggle="modal" data-target="#createFieldVisitReport" lang="en">Add Visit Report </button>
                        </div>
                    </div>
                </div>
                <div class="clearfix visible-block"></div>
                <hr />
            </div>

            <div class="col-lg-offset-4 col-lg-4 col-md-offset-3 col-md-6 col-md-12 col-sm-12 col-xs-12">
                <div class="schemForms text-center">
                    <select ng-change="selectAppId(applicationId)" ng-model="applicationId">
                        <option value="">---Please select---</option>
                        <option ng-repeat="request in requestLists" value="{{request.applicationId}}">{{request.applicationId}}</option>
                    </select>
                </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div ng-show="showAction">

                    <div class="projectMain m-top20 m-btm20 ">
                        <div class="projectTile cursorPointer" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne">Application Details</div>
                        <!--<div class="projectName m-top20 m-btm20 text-center">Plan Details</div>-->

                        <div class="table-responsive">
                            <table class="table table-bordered table-striped">
                                <tbody>
                                <tr>
                                    <td class="text-left width160"><b>Application Id</b></td>
                                    <td class="width20">:</td>
                                    <td class="text-left" colspan="4">{{selectRequestDetails.applicationId}}</td>
                                </tr>
                                <tr>
                                    <td class="text-left width160"><b>Applicant Name</b></td>
                                    <td class="width20">:</td>
                                    <td class="text-left">{{selectRequestDetails.personName}}</td>
                                    <td class="text-left width160"><b>Mobile No:</b></td>
                                    <td class="width20">:</td>
                                    <td class="text-left">{{selectRequestDetails.mobile}}</td>
                                </tr>
                                <tr>
                                    <td class="text-left width160"><b>Applicant Email</b></td>
                                    <td class="width20">:</td>
                                    <td class="text-left">{{selectRequestDetails.email}}</td>
                                    <td class="text-left width160"><b>Location</b></td>
                                    <td class="width20">:</td>
                                    <td class="text-left">{{selectRequestDetails.location}}</td>
                                </tr>

                                <tr>
                                    <td class="text-left width160"><b>City</b></td>
                                    <td class="width20">:</td>
                                    <td class="text-left">{{selectRequestDetails.city}}</td>
                                    <td class="text-left width160"><b>Created Time</b></td>
                                    <td class="width20">:</td>
                                    <td class="text-left">{{selectRequestDetails.createdTime | date: "yyyy-MM-dd hh:mm:ss a"}}</td>
                                </tr>   <tr>
                                    <td class="text-left width160"><b>Area</b></td>
                                    <td class="width20">:</td>
                                    <td class="text-left">{{selectRequestDetails.area}}</td>
                                    <td class="text-left width160"><b>Feet(s)</b></td>
                                    <td class="width20">:</td>
                                    <td class="text-left">{{selectRequestDetails.feet}}</td>
                                </tr>
                                <tr>
                                    <td class="text-left width160"><b>Owner</b></td>
                                    <td class="width20">:</td>
                                    <td class="text-left">{{selectRequestDetails.owner}}</td>
                                    <td class="text-left width160"><b>yard(s)</b></td>
                                    <td class="width20">:</td>
                                    <td class="text-left">{{selectRequestDetails.yard}}</td>
                                </tr>
                                <tr>
                                    <td class="text-left width160"><b>Address</b></td>
                                    <td class="width20">:</td>
                                    <td class="text-left" colspan="4">{{selectRequestDetails.address}}</td>

                                    <td class="text-left width160"><b lang="en">Noc Department</b></td>
                                    <td class="width20">:</td>
                                    <td class="text-left">{{selectRequestDetails.department}}</td>

                                </tr>

                                <tr>
                                    <td class="text-left width160"><b>Uploaded Files</b></td>
                                    <td class="width20">:</td>
                                    <td class="text-left" colspan="4">
                                        <div ng-repeat="request in selectRequestDetails.file">
                                            <a target="_blank" href="{{docUploadURL}}{{request.id}}">{{request.name}}</a>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>

                   <!-- <div class="projectMain m-top20 m-btm20 ">
                        <div class="projectTile" lang="en">Application Visit Details</div>
                        <div class="table-responsive projectInner">
                            <table datatable="ng" class="hover table table-bordered table-striped" id="">
                                <thead>
                                <tr>
                                    <th lang="en">Visitor Name</th>
                                    <th lang="en">Date Visited</th>
                                    <th lang="en">Comment</th>
                                    <th lang="en">Action</th>
                                </tr>
                                </thead>

                                <tbody>
                                <tr ng-repeat="fieldVisit in appReportDisplay">
                                    <td>{{fieldVisit.createdPerson}}</td>
                                    <td>{{fieldVisit.visitedDate}}</td>
                                    <td>{{fieldVisit.comment}}</td>
                                    <td>
                                        <button class="btn btn-primary" ng-click="editFieldVisitors(fieldVisit)"><span class="glyphicon glyphicon-pencil"></span></button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>-->
                    <div class="projectMain m-top20 m-btm20 ">
                        <div class="projectTile" lang="en">NOC Field Visitor Details</div>
                        <div class="table-responsive projectInner">
                            <table datatable="ng" dt-options="dtOptions" dt-columns="dtColumns" class="hover table table-bordered table-striped" id="">
                                <thead>
                                <tr>
                                    <th lang="en">Visitor Details</th>
                                </tr>
                                </thead>
                                <tbody>
                                <!--     {{filedVisitList}}-->

                                <tr ng-repeat="fieldVisit in filedVisitList" >
                                    <td colspan="4">
                                        <table class="table nopadding">
                                            <tr>
                                                <td class="width120"><b lang="en">Visitor Name</b>: <br />{{fieldVisit.visitorName}}</td>
                                                <td class="width120"><b lang="en">Date Visited</b>: <br />{{fieldVisit.visitedDate}}</td>

                                                <td><b lang="en">Comment</b>: <br />{{fieldVisit.comment}}</td>
                                                <td class="width20">
                                                    <button class="btn btn-primary" ng-if="fieldVisit.editDetails" data-toggle="tooltip" title="Edit Details" ng-click="editFieldVisitors(fieldVisit)"><span class="glyphicon glyphicon-pencil"></span></button>
                                                </td>

                                                <td class="width20" data-toggle="tooltip" title="View Workflow Details"  >
                                                    <button class="btn btn-default" data-toggle="collapse" data-target="#demo-{{$index}}" class="accordion-toggle">
                                                        <span class="glyphicon glyphicon-eye-open"></span></button>
                                                </td>
                                                <td class="width20">
                                                    <!--data-toggle="modal" data-target="#approavlReport"-->
                                                    <!--data-toggle="modal" data-target="#rejectReport"-->
                                                    <button type="button" data-toggle="tooltip" title="Approve"  ng-if="fieldVisit.approveFiledVisit" ng-click="approvalModal(fieldVisit)" class="btn btn-success" >
                                                        <span class="glyphicon glyphicon-ok"  ></span>
                                                    </button>
                                                </td>
                                                <td class="width20">
                                                    <button type="button" ng-if="fieldVisit.approveFiledVisit" data-toggle="tooltip" title="Reject" ng-click="rejectModal(fieldVisit)"class="btn btn-danger" >
                                                        <span class="glyphicon glyphicon-remove"></span>
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="12" class="hiddenRow">
                                                    <div class="accordian-body collapse" id="demo-{{$index}}">
                                                        <table class="table">
                                                            <thead>
                                                            <tr>
                                                                <th lang="en">Workflow Id</th>
                                                                <th lang="en">Workflow Level</th>
                                                                <th lang="en">Level No</th>
                                                                <th lang="en">Status</th>
                                                                <th lang="en">Approval Person</th>
                                                                <th lang="en">Date</th>
                                                                <th lang="en">Comment</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            <tr ng-repeat="workflow in fieldVisit.workflow">
                                                                <td>{{workflow.workflowId}} </td>
                                                                <td>{{workflow.levelId}}  </td>
                                                                <td>{{workflow.levelNo}}  </td>
                                                                <td>{{workflow.approvalStatus}}  </td>
                                                                <td>{{workflow.employeeName}}  </td>
                                                                <td>{{workflow.date| date: "yyyy-MM-dd hh:mm:ss a"}}  </td>
                                                                <!-- <td>
                                                                     &lt;!&ndash;  <button>Approval</button>
                                                                   <button>Reject</button>&ndash;&gt;
                                                                     <button type="submit" class="btn btn-success" data-toggle="modal" data-target="#approavlReport">Approval</button>
                                                                     <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#rejectReport">Reject</button>
                                                                 </td>-->
                                                                <td>{{workflow.comment}}</td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>


        </div>
    </div>
</div>
<!--- fieldVisistReportEdit --->
<div id="fieldVisitReportEdit" class="modal fade" role="dialog">
    <div class="modal-dialog ">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" lang="en">Edit NOC Field Visit Report</h4>
            </div>
            <form role="form" class="" name="myform"  ng-submit="fieldVisitReportEdit()">

                <div class="modal-body">
                    <div class="schemForms">
                        <div class="row">
                            <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <label lang="en"><span class="color-red f-bold f-left">*</span>Date Visited</label>:
                                <input ng-model="editFieldVisit.visitedDate" placeholder="Date Visit"  type="text"   ng-calendar format="%d-%m-%Y" readonly>
                            </div>
                            <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <label lang="en"><span class="color-red f-bold f-left">*</span>Visitor Comment</label>:
                                <textarea rows="5" ng-model="editFieldVisit.comment" placeholder="Enter Visitor Description"  draggable="false" required></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="submit" class="btn btn-success" lang="en">Update</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" lang="en">Close</button>
                </div>
            </form>
        </div>

    </div>
</div>
<!--- fieldVisistReportEdit --->




<div id="createFieldVisitReport" class="modal fade" role="dialog">
    <div class="modal-dialog ">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" lang="en">Create NOC Field Visit Report</h4>
            </div>
            <form role="form" class="" name="myform" class="adminContent" ng-submit="addFieldVisitReport()">
                <div class="modal-body">
                    <div class="row schemForms">
                        <!--<div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <label><span class="color-red f-bold f-left">*</span>Visitor Name:</label>
                            &lt;!&ndash;<select ng-model="fieldVisitData.level">
                                <option value="">Select Level</option>
                                <option value="Level - 1">Level - 1</option>
                                <option value="Level - 2">Level - 2</option>
                                <option value="Level - 3">Level - 3</option>
                                <option value="Level - 4">Level - 4</option>
                            </select>&ndash;&gt;
                            <select ng-model="fieldVisitData.level" data-style="btn-primary">
                                <option value="">Select Employee Name</option>
                                <option ng-repeat="employee in getEmployeeList2" value="{{employee.name}}">{{employee.name}}</option>
                            </select>
                        </div>-->
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Date Visited</label>:
                            <input  placeholder="Date Visit"  type="text" ng-calendar ng-model="fieldVisitData.visitedDate" format="%d-%m-%Y" readonly required/>
                        </div>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Visitor Comment</label>:
                            <textarea rows="5" ng-model="fieldVisitData.comment" placeholder="Enter Visitor Description"  draggable="false" required></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" lang="en">Submit</button>
                    <button type="button" ng-click="reset()" class="btn btn-info" lang="rn">Reset</button>
                    <button id="cancel" type="button" class="btn btn-default" data-dismiss="modal" lang="en">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>


<div id="approavlReport" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" lang="en">Approve NOC Field Visit Report</h4>
            </div>

            <form role="form" class="" name="myform" class="adminContent" ng-submit="approvalData()">
                <div class="modal-body">
                    <div class="row schemForms">
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Comment</label>
                            <textarea rows="5" ng-model="comments.comment" placeholder="Enter Approval Comment" required></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" lang="en">Approve</button>
                    <button  type="button" class="btn btn-default" data-dismiss="modal" lang="en">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div id="rejectReport" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" lang="en">Reject NOC FieldVisit Report</h4>
            </div>
            <form role="form" class="" name="myform" class="adminContent" ng-submit="rejectData()">
                <div class="modal-body">
                    <div class="row schemForms">

                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Reject Comment</label>
                            <textarea rows="5" ng-model="comments.comment" placeholder="Enter Reject Description" required></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" lang="en">Reject</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" lang="en">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>


<div id="editFieldVisitReportSuccess" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center color-green modalSuccess">
                <div class="sMessage">NOC  Field visit report added successfully</div>
            </div>
        </div>
        <!--<div class="modal-footer">
            <button ng-click="editPlanSuccess()" class="btn btn-success width120">OK</button>
        </div>-->
    </div>
</div>