<div class="breadcrumbArea">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pull-left">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/home"><span lang="en">Home</span></a></li>
                <li class="breadcrumb-item"><span lang="en">Legal Management</span></li>
                <li class="breadcrumb-item"><span lang="en">Case Management</span></li>
                <li class="breadcrumb-item"><a href="#/writePetition"><span lang="en">Writ Petition</span></a></li>
                <li class="breadcrumb-item active"><span lang="en">Petition Details</span></li>
            </ol>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 pull-right">
            <!--<a  ng-click="clickToBack()"> <span class="glyphicon glyphicon-hand-left"></span> Back</a>-->
            <a href="#/writePetition" class="backbtnArea pull-right">
                <div class="" id="content">
                    <div class="aside arrow">
                        <span class="glyphicon glyphicon-chevron-left"> </span>
                        <span class="backbtn" lang="en">Go Back</span>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

<div class="adminContent">

    <div id="lodingImage" ng-show="loadingImage"> <img src="images/gears.gif"></div>

    <div class="schemeMain" ng-show="!loadingImage">

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="legalManagement">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="projectName"><span class="glyphicon glyphicon-hand-right"> </span><span lang="en">Petition Details</span></div>
                            <!--<button class="btn btn-primary" ng-click="generatePDF()"><i class="fa fa-save"></i> Print</button>-->
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pull-right">
                            <div class="addScheme pull-right">
                                <button class="btn btn-primary pull-right" ng-click="generatePDF()"><i class="fa fa-save"></i> Print</button>

                            </div>
                    </div>
                    <div class="clearfix visible-block"></div>
                    <hr />
                </div>
            </div>

            <div class="col-lg-offset-4 col-lg-4 col-md-offset-3 col-md-6 col-md-12 col-sm-12 col-xs-12">
                <div>
                    <h5 class="text-left" lang="en"><span lang="en">Select Petition ID</span>:</h5>
                    <ui-select ng-change="selectareas($select.selected.petitionId)" ng-model="petitionId" theme="selectize">
                        <ui-select-match placeholder="Select or Search Case Number">{{$select.selected.petitionId}}</ui-select-match>
                        <ui-select-choices repeat="Petition in petitionList | filter: $select.search">
                            <span ng-bind-html="Petition.petitionId | highlight: $select.search"></span>

                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div id="formConfirmation">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div ng-show="selectPetitionDetails">

                    <div class="projectMain m-top20 m-btm20 ">
                        <div class="projectTile"><span lang="en">Petition Details</span></div>

                        <table class="table table-bordered nopadding">
                            <tr>
                                <td class="width160"><b><span lang="en">Case Number</span></b></td>
                                <td class="width20">:</td>
                                <td>{{selectPetitionDetails.caseNumber}}</td>

                                <td><b><span lang="en">Petition Id</span></b></td>
                                <td>:</td>
                                <td>{{selectPetitionDetails.petitionId}}</td>
                            </tr>
                            <tr>
                                <td class="width160"><b><span lang="en">Petition Date</span></b></td>
                                <td class="width20">:</td>
                                <td>{{selectPetitionDetails.petitionDate | date:'shortDate'}}</td>

                                <td><b><span lang="en">Petitioner</span></b></td>
                                <td>:</td>
                                <td>{{selectPetitionDetails.petitioner}}</td>
                            </tr>

                            <tr>
                                <td class="width160"><b><span lang="en">Respondent</span></b></td>
                                <td class="width20">:</td>
                                <td>{{selectPetitionDetails.respondent}}</td>

                            </tr>


                            <tr>
                                <td><b>1. <span lang="en">Particulars of the cause/order against which the petition is made</span>:</b></td>
                                <td>:</td>
                                <td colspan="4">{{selectPetitionDetails.particular}}</td>
                            </tr>

                            <tr>
                                <td><b>2. <span lang="en">A declaration that no matter pending</span></b></td>
                                <td>:</td>
                                <td colspan="4">{{selectPetitionDetails.declaration}}</td>
                            </tr>
                            <tr>
                                <td><b>3. <span lang="en">Details of remedies exhausted</span>:</b></td>
                                <td>:</td>
                                <td colspan="4">{{selectPetitionDetails.remediesDetails}}</td>
                            </tr>

                            <tr>
                                <td><b>4. <span lang="en">Delay, if any, in filing the petition</span>:</b></td>
                                <td>:</td>
                                <td colspan="4">{{selectPetitionDetails.delay}}</td>
                            </tr>

                            <tr>
                                <td><b>5. <span lang="en">Facts of the case</span>:</b></td>
                                <td>:</td>
                                <td colspan="4">{{selectPetitionDetails.caseFacts}}</td>
                            </tr>

                            <tr>
                                <td><b>6. <span lang="en">Grounds urged</span>:</b></td>
                                <td>:</td>
                                <td colspan="4">{{selectPetitionDetails.grounds}}</td>
                            </tr>

                            <tr>
                                <td><b>7. <span lang="en">Relief Prayed for</span>:</b></td>
                                <td>:</td>
                                <td colspan="4">{{selectPetitionDetails.relief}}</td>
                            </tr>
                            <tr>
                                <td><b>8. <span lang="en">Interim Relief</span>:</b></td>
                                <td>:</td>
                                <td colspan="4">{{selectPetitionDetails.interim}}</td>
                            </tr>


                            <tr>
                                <td><b>9. <span lang="en">Documents relied on but not in possession of the petitioner</span>:</b></td>
                                <td>:</td>
                                <td colspan="4">{{selectPetitionDetails.documents}}</td>
                            </tr>
                            <tr>
                                <td><b>10. <span lang="en">Caveat</span>:</b></td>
                                <td>:</td>
                                <td colspan="4">{{selectPetitionDetails.caveat}}</td>
                            </tr>

                        </table>

                    </div>
                </div>
            </div>
                </div>
        </div>
    </div>
</div>


</div>