<div class="breadcrumbArea">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pull-left">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/home"><span lang="en">Home</span> </a></li>
                <li class="breadcrumb-item active"><span lang="en">Project/Ward Works</span> </li>
                <li class="breadcrumb-item active"><span lang="en">Master Data</span></li>
                <li class="breadcrumb-item active"><span lang="en">Project/Wardworks Email Details</span></li>
            </ol>
        </div>
    </div>
</div>
<div class="adminContent">
    <div id="lodingImage" ng-show="loadingImage"> <img src="images/gears.gif"></div>
    <div class="schemeMain" ng-show="!loadingImage">

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="projectName" lang="en"><span class="glyphicon glyphicon-hand-right"> </span> Email Details</div>
                    </div>

                </div>
                <div class="clearfix visible-block"></div>
                <hr />
            </div>


            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="projectMain">
                    <div class="projectTile" lang="en">Email Details</div>
                    <div class="table-responsive projectInner">
                        <div class="schemForms">
                            <form ng-submit="getProjectDetailsForNotification(email)">
                                <div class="row">
                                    <div class="form-group col-lg-offset-3 col-lg-6 col-md-offset-3 col-md-6 col-sm-0ffset-3 col-sm-6 col-xs-12">
                                        <label lang="en">Email Id</label>:
                                        <input type="text" placeholder="Enter Email Id" class="form-control" ng-model="email.emailId"  readonly />
                                    </div>

                                    <div class="col-lg-12 col-md-12 col-sm-12 col-sm-12">
                                        <hr />
                                    </div>


                                    <div class="col-lg-12 col-md-12 col-sm-12 col-sm-12">
                                        <div class="m-top20">
                                            <div class="row">
                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                    <label lang="en"> <span class="color-red f-bold f-left">*</span>Project Plan Creation</label>
                                                </div>
                                                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                    <div class="row">

                                                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12"><span lang="en"> Email Subject</span>
                                                            <textarea rows="2" ng-model="email.projectPlanRequest" placeholder="Enter Request Email Subject" ></textarea>
                                                        </div>
                                                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12"> <span lang="en"> SMS Text</span>
                                                            <textarea rows="2" ng-model="email.projectPlanRequestSMS" placeholder="Enter Request SMS Text" ></textarea>
                                                        </div>
                                                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12"><span lang="en"> Email Text</span>
                                                            <!--<textarea rows="4" ng-model="email.registerSMS" placeholder="Enter Registration SMS Text" ></textarea>-->
                                                            <textarea ui-tinymce   ng-model="email.projectPlanRequestText" placeholder="Enter Request Email Text" ></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-lg-12 col-md-12 col-sm-12 col-sm-12">
                                        <div class="m-top20">
                                            <div class="row">
                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                    <label lang="en"> <span class="color-red f-bold f-left">*</span>Project Plan Request Approval</label>
                                                </div>
                                                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                    <div class="row">

                                                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12"> <span lang="en"> Email Subject</span>
                                                            <textarea rows="2" ng-model="email.projectPlanRequestApprovalEmail" placeholder="Enter Request Approval Email Subject" ></textarea>
                                                        </div>
                                                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12"> <span lang="en"> SMS Text</span>
                                                            <textarea rows="2" ng-model="email.projectPlanRequestApprovalSMS" placeholder="Enter Request Approval SMS Text" ></textarea>
                                                        </div>
                                                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12"> <span lang="en"> Email Text</span>
                                                            <!--<textarea rows="4" ng-model="email.registerSMS" placeholder="Enter Registration SMS Text" ></textarea>-->
                                                            <textarea ui-tinymce  ng-model="email.projectPlanRequestApprovalMessage" placeholder="Enter Request Approval Email Text" ></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-lg-12 col-md-12 col-sm-12 col-sm-12">
                                        <div class="m-top20">
                                            <div class="row">
                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                    <label lang="en"> <span class="color-red f-bold f-left">*</span>Project Plan Request Rejected</label>
                                                </div>
                                                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                    <div class="row">

                                                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12"> <span lang="en"> Email Subject</span>
                                                            <textarea rows="2" ng-model="email.projectPlanRejectedEmail" placeholder="Enter Request Rejected Email Subject" ></textarea>
                                                        </div>
                                                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12"> <span lang="en"> SMS Text</span>
                                                            <textarea rows="2" ng-model="email.projectPlanRejectedSMS" placeholder="Enter Request Rejected SMS Text" ></textarea>
                                                        </div>
                                                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12"> <span lang="en">Email Text</span>
                                                            <!--<textarea rows="4" ng-model="email.registerSMS" placeholder="Enter Registration SMS Text" ></textarea>-->
                                                            <textarea ui-tinymce  ng-model="email.projectPlanRejectedMessage" placeholder="Enter Request Rejected Email Text" ></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-lg-12 col-md-12 col-sm-12 col-sm-12">
                                        <div class="m-top20">
                                            <div class="row">
                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                    <label lang="en"> <span class="color-red f-bold f-left">*</span>BillGeneration Request Email</label>

                                                </div>
                                                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                                                    <div class="row">

                                                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12"><span lang="en"> Email Subject</span>
                                                            <textarea rows="2" class="noresize" ng-model="email.billGenerationRequestEmail" placeholder="Enter Request Email Subject" ></textarea>
                                                        </div>
                                                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12"> <span lang="en"> SMS Text</span>
                                                            <textarea rows="2" class="noresize" ng-model="email.billGenerationRequestSMS" placeholder="Enter Request SMS Text" ></textarea>
                                                        </div>
                                                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12"><span lang="en"> Email Text</span>
                                                            <!--<textarea rows="4" ng-model="email.registerSMS" placeholder="Enter Registration SMS Text" ></textarea>-->
                                                            <textarea ui-tinymce  ng-model="email.billGenerationRequestText" placeholder="Enter Request Email Text" ></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-lg-12 col-md-12 col-sm-12 col-sm-12">
                                        <div class="m-top20">
                                            <div class="row">
                                                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                                    <label class="emailTitle" lang="en"> <span class="color-red f-bold f-left">*</span>BillGeneration Request Approval</label>
                                                </div>
                                                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                                                    <div class="row">

                                                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12"> <span lang="en"> Email Subject</span>
                                                            <textarea rows="2" class="noresize" ng-model="email.billGenerationRequestApprovalEmail" placeholder="Enter Request Approval Email Subject" ></textarea>
                                                        </div>
                                                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12"> <span lang="en"> SMS Text</span>
                                                            <textarea rows="2" class="noresize" ng-model="email.billGenerationRequestApprovalSMS" placeholder="Enter Request Approval SMS Text" ></textarea>
                                                        </div>
                                                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12"> <span lang="en"> Email Text</span>
                                                            <!--<textarea rows="4" ng-model="email.registerSMS" placeholder="Enter Registration SMS Text" ></textarea>-->
                                                            <textarea ui-tinymce  ng-model="email.billGenerationRequestApprovalMessage" placeholder="Enter Request Approval Email Text" ></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-lg-12 col-md-12 col-sm-12 col-sm-12">
                                        <div class="m-top20">
                                            <div class="row">
                                                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                                    <label class="emailTitle" lang="en"> <span class="color-red f-bold f-left">*</span>BillGeneration Request Rejected</label>
                                                </div>
                                                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                                                    <div class="row">

                                                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12"> <span lang="en"> Email Subject</span>
                                                            <textarea rows="2" class="noresize" ng-model="email.paymentOrderRejectedEmail" placeholder="Enter Request Rejected Email Subject" ></textarea>
                                                        </div>
                                                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12"> <span lang="en"> SMS Text</span>
                                                            <textarea rows="2" class="noresize" ng-model="email.paymentOrderRejectedSMS" placeholder="Enter Request Rejected SMS Text" ></textarea>
                                                        </div>
                                                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12"> <span lang="en">Email Text</span>
                                                            <!--<textarea rows="4" ng-model="email.registerSMS" placeholder="Enter Registration SMS Text" ></textarea>-->
                                                            <textarea ui-tinymce  ng-model="email.paymentOrderRejectedMessage" placeholder="Enter Request Rejected Email Text" ></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-12 col-md-12 col-sm-12 col-sm-12">
                                        <div class="m-top20">
                                            <div class="row">
                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                    <label lang="en"> <span class="color-red f-bold f-left">*</span>Payment Order Email</label>

                                                </div>
                                                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                                                    <div class="row">

                                                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12"><span lang="en"> Email Subject</span>
                                                            <textarea rows="2" class="noresize" ng-model="email.paymentOrderRequestEmail" placeholder="Enter Request Email Subject" ></textarea>
                                                        </div>
                                                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12"> <span lang="en"> SMS Text</span>
                                                            <textarea rows="2" class="noresize" ng-model="email.paymentOrderRequestSMS" placeholder="Enter Request SMS Text" ></textarea>
                                                        </div>
                                                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12"><span lang="en"> Email Text</span>
                                                            <!--<textarea rows="4" ng-model="email.registerSMS" placeholder="Enter Registration SMS Text" ></textarea>-->
                                                            <textarea ui-tinymce  ng-model="email.paymentOrderRequestText" placeholder="Enter Request Email Text" ></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-lg-12 col-md-12 col-sm-12 col-sm-12">
                                        <div class="m-top20">
                                            <div class="row">
                                                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                                    <label class="emailTitle" lang="en"> <span class="color-red f-bold f-left">*</span>Payment Order  Request Approval</label>
                                                </div>
                                                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                                                    <div class="row">

                                                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12"> <span lang="en"> Email Subject</span>
                                                            <textarea rows="2" class="noresize" ng-model="email.paymentOrderRequestApprovalEmail" placeholder="Enter Request Approval Email Subject" ></textarea>
                                                        </div>
                                                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12"> <span lang="en"> SMS Text</span>
                                                            <textarea rows="2" class="noresize" ng-model="email.paymentOrderRequestApprovalSMS" placeholder="Enter Request Approval SMS Text" ></textarea>
                                                        </div>
                                                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12"> <span lang="en"> Email Text</span>
                                                            <!--<textarea rows="4" ng-model="email.registerSMS" placeholder="Enter Registration SMS Text" ></textarea>-->
                                                            <textarea ui-tinymce  ng-model="email.paymentOrderRequestApprovalMessage" placeholder="Enter Request Approval Email Text" ></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-lg-12 col-md-12 col-sm-12 col-sm-12">
                                        <div class="m-top20">
                                            <div class="row">
                                                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                                    <label class="emailTitle" lang="en"> <span class="color-red f-bold f-left">*</span>Payment Order  Request Rejected</label>
                                                </div>
                                                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                                                    <div class="row">

                                                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12"> <span lang="en"> Email Subject</span>
                                                            <textarea rows="2" class="noresize" ng-model="email.paymentOrderRejectedEmail" placeholder="Enter Request Rejected Email Subject" ></textarea>
                                                        </div>
                                                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12"> <span lang="en"> SMS Text</span>
                                                            <textarea rows="2" class="noresize" ng-model="email.paymentOrderRejectedSMS" placeholder="Enter Request Rejected SMS Text" ></textarea>
                                                        </div>
                                                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12"> <span lang="en">Email Text</span>
                                                            <!--<textarea rows="4" ng-model="email.registerSMS" placeholder="Enter Registration SMS Text" ></textarea>-->
                                                            <textarea ui-tinymce  ng-model="email.paymentOrderRejectedMessage" placeholder="Enter Request Rejected Email Text" ></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-lg-12 col-md-12 col-sm-12 col-sm-12">
                                        <div class="m-top20">
                                            <div class="row">
                                                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                                    <label class="emailTitle" lang="en"> <span class="color-red f-bold f-left">*</span>Field Visit Report Request Email</label>
                                                </div>
                                                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                                                    <div class="row">

                                                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12"> <span lang="en"> Email Subject</span>
                                                            <textarea rows="2" class="noresize" ng-model="email.fieldVisitRequestEmail" placeholder="Enter Request Email Subject" ></textarea>
                                                        </div>
                                                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12"> <span lang="en"> SMS Text</span>
                                                            <textarea rows="2" class="noresize" ng-model="email.fieldVisitRequestSMS" placeholder="Enter Request SMS Text" ></textarea>
                                                        </div>
                                                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12"> <span lang="en"> Email Text</span>
                                                            <!--<textarea rows="4" ng-model="email.registerSMS" placeholder="Enter Registration SMS Text" ></textarea>-->
                                                            <textarea ui-tinymce  ng-model="email.fieldVisitRequestText" placeholder="Enter Request Email Text" ></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-lg-12 col-md-12 col-sm-12 col-sm-12">
                                        <div class="m-top20">
                                            <div class="row">
                                                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                                    <label class="emailTitle" lang="en"> <span class="color-red f-bold f-left">*</span>Field Visit Report Request Approval</label>
                                                </div>
                                                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                                                    <div class="row">

                                                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12"> <span lang="en"> Email Subject </span>
                                                            <textarea rows="2" class="noresize" ng-model="email.fieldVisitRequestApprovalEmail" placeholder="Enter Request Approval Email Subject" ></textarea>
                                                        </div>
                                                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12"> <span lang="en"> SMS Text</span>
                                                            <textarea rows="2" class="noresize" ng-model="email.fieldVisitRequestApprovalSMS" placeholder="Enter Request Approval SMS Text" ></textarea>
                                                        </div>
                                                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12"><span lang="en"> Email Text</span>
                                                            <!--<textarea rows="4" ng-model="email.registerSMS" placeholder="Enter Registration SMS Text" ></textarea>-->
                                                            <textarea ui-tinymce ng-model="email.fieldVisitRequestApprovalMessage" placeholder="Enter Request Approval Email Text" ></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-lg-12 col-md-12 col-sm-12 col-sm-12">
                                        <div class="m-top20">
                                            <div class="row">
                                                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                                    <label class="emailTitle" lang="en"> <span class="color-red f-bold f-left">*</span>Field Visit Report Request Rejected</label>
                                                </div>
                                                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                                                    <div class="row">

                                                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12"> <span lang="en"> Email Subject</span>
                                                            <textarea rows="2" class="noresize" ng-model="email.fieldVisitRejectedEmail" placeholder="Enter Request Rejected Email Subject" ></textarea>
                                                        </div>
                                                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12"> <span lang="en"> SMS Text</span>
                                                            <textarea rows="2" class="noresize" ng-model="email.fieldVisitRejectedSMS" placeholder="Enter Request Rejected SMS Text" ></textarea>
                                                        </div>
                                                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12"> <span lang="en"> Email Text</span>
                                                            <!--<textarea rows="4" ng-model="email.registerSMS" placeholder="Enter Registration SMS Text" ></textarea>-->
                                                            <textarea ui-tinymce  ng-model="email.fieldVisitRejectedMessage" placeholder="Enter Request Rejected Email Text" ></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-sm-12">
                                        <div class="m-top20">
                                            <div class="row">
                                                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                                    <label class="emailTitle" lang="en"> <span class="color-red f-bold f-left">*</span>Project Work Order Report Request Email</label>
                                                </div>
                                                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                                                    <div class="row">

                                                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12"> <span lang="en"> Email Subject</span>
                                                            <textarea rows="2" class="noresize" ng-model="email.workOrderRequestEmail" placeholder="Enter Request Email Subject" ></textarea>
                                                        </div>
                                                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12"> <span lang="en"> SMS Text</span>
                                                            <textarea rows="2" class="noresize" ng-model="email.workOrderRequestSMS" placeholder="Enter Request SMS Text" ></textarea>
                                                        </div>
                                                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12"> <span lang="en"> Email Text</span>
                                                            <!--<textarea rows="4" ng-model="email.registerSMS" placeholder="Enter Registration SMS Text" ></textarea>-->
                                                            <textarea ui-tinymce  ng-model="email.workOrderRequestText" placeholder="Enter Request Email Text" ></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-lg-12 col-md-12 col-sm-12 col-sm-12">
                                        <div class="m-top20">
                                            <div class="row">
                                                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                                    <label class="emailTitle" lang="en"> <span class="color-red f-bold f-left">*</span>Project Work Order Report Request Approval</label>
                                                </div>
                                                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                                                    <div class="row">

                                                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12"> <span lang="en"> Email Subject </span>
                                                            <textarea rows="2" class="noresize" ng-model="email.workOrderRequestApprovalEmail" placeholder="Enter Request Approval Email Subject" ></textarea>
                                                        </div>
                                                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12"> <span lang="en"> SMS Text</span>
                                                            <textarea rows="2" class="noresize" ng-model="email.workOrderRequestApprovalSMS" placeholder="Enter Request Approval SMS Text" ></textarea>
                                                        </div>
                                                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12"><span lang="en"> Email Text</span>
                                                            <!--<textarea rows="4" ng-model="email.registerSMS" placeholder="Enter Registration SMS Text" ></textarea>-->
                                                            <textarea ui-tinymce ng-model="email.workOrderRequestApprovalMessage" placeholder="Enter Request Approval Email Text" ></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-lg-12 col-md-12 col-sm-12 col-sm-12">
                                        <div class="m-top20">
                                            <div class="row">
                                                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                                    <label class="emailTitle" lang="en"> <span class="color-red f-bold f-left">*</span>Project Work Order Report Request Rejected</label>
                                                </div>
                                                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                                                    <div class="row">

                                                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12"> <span lang="en"> Email Subject</span>
                                                            <textarea rows="2" class="noresize" ng-model="email.workOrderRejectedEmail" placeholder="Enter Request Rejected Email Subject" ></textarea>
                                                        </div>
                                                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12"> <span lang="en"> SMS Text</span>
                                                            <textarea rows="2" class="noresize" ng-model="email.workOrderRejectedSMS" placeholder="Enter Request Rejected SMS Text" ></textarea>
                                                        </div>
                                                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12"> <span lang="en"> Email Text</span>
                                                            <!--<textarea rows="4" ng-model="email.registerSMS" placeholder="Enter Registration SMS Text" ></textarea>-->
                                                            <textarea ui-tinymce  ng-model="email.workOrderRejectedMessage" placeholder="Enter Request Rejected Email Text" ></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-12 col-md-12 col-sm-12 col-sm-12">
                                        <div class="m-top20">
                                            <div class="row">
                                                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                                    <label class="emailTitle" lang="en"> <span class="color-red f-bold f-left">*</span>Project TOR Report Request Email</label>
                                                </div>
                                                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                                                    <div class="row">

                                                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12"> <span lang="en"> Email Subject</span>
                                                            <textarea rows="2" class="noresize" ng-model="email.projectTorRequestEmail" placeholder="Enter Request Email Subject" ></textarea>
                                                        </div>
                                                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12"> <span lang="en"> SMS Text</span>
                                                            <textarea rows="2" class="noresize" ng-model="email.projectTorRequestSMS" placeholder="Enter Request SMS Text" ></textarea>
                                                        </div>
                                                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12"> <span lang="en"> Email Text</span>
                                                            <!--<textarea rows="4" ng-model="email.registerSMS" placeholder="Enter Registration SMS Text" ></textarea>-->
                                                            <textarea ui-tinymce  ng-model="email.projectTorRequestText" placeholder="Enter Request Email Text" ></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-lg-12 col-md-12 col-sm-12 col-sm-12">
                                        <div class="m-top20">
                                            <div class="row">
                                                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                                    <label class="emailTitle" lang="en"> <span class="color-red f-bold f-left">*</span>Project TOR Report Request Approval</label>
                                                </div>
                                                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                                                    <div class="row">

                                                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12"> <span lang="en"> Email Subject </span>
                                                            <textarea rows="2" class="noresize" ng-model="email.projectTorRequestApprovalEmail" placeholder="Enter Request Approval Email Subject" ></textarea>
                                                        </div>
                                                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12"> <span lang="en"> SMS Text</span>
                                                            <textarea rows="2" class="noresize" ng-model="email.projectTorRequestApprovalSMS" placeholder="Enter Request Approval SMS Text" ></textarea>
                                                        </div>
                                                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12"><span lang="en"> Email Text</span>
                                                            <!--<textarea rows="4" ng-model="email.registerSMS" placeholder="Enter Registration SMS Text" ></textarea>-->
                                                            <textarea ui-tinymce ng-model="email.projectTorRequestApprovalMessage" placeholder="Enter Request Approval Email Text" ></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-lg-12 col-md-12 col-sm-12 col-sm-12">
                                        <div class="m-top20">
                                            <div class="row">
                                                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                                    <label class="emailTitle" lang="en"> <span class="color-red f-bold f-left">*</span>Project TOR Report Request Rejected</label>
                                                </div>
                                                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                                                    <div class="row">

                                                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12"> <span lang="en"> Email Subject</span>
                                                            <textarea rows="2" class="noresize" ng-model="email.projectTorRejectedEmail" placeholder="Enter Request Rejected Email Subject" ></textarea>
                                                        </div>
                                                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12"> <span lang="en"> SMS Text</span>
                                                            <textarea rows="2" class="noresize" ng-model="email.projectTorRejectedSMS" placeholder="Enter Request Rejected SMS Text" ></textarea>
                                                        </div>
                                                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12"> <span lang="en"> Email Text</span>
                                                            <!--<textarea rows="4" ng-model="email.registerSMS" placeholder="Enter Registration SMS Text" ></textarea>-->
                                                            <textarea ui-tinymce  ng-model="email.projectTorRejectedMessage" placeholder="Enter Request Rejected Email Text" ></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-12 col-md-12 col-sm-12 col-sm-12">
                                        <div class="m-top20">
                                            <div class="row">
                                                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                                    <label class="emailTitle" lang="en"> <span class="color-red f-bold f-left">*</span>Transfer Funds Request Email</label>
                                                </div>
                                                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                                                    <div class="row">

                                                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12"><span lang="en"> Email Subject</span>
                                                            <textarea rows="2" class="noresize" ng-model="email.transferRequestEmail" placeholder="Enter Request Email Subject" ></textarea>
                                                        </div>
                                                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12"><span lang="en"> SMS Text</span>
                                                            <textarea rows="2" class="noresize" ng-model="email.transferRequestSMS" placeholder="Enter Request SMS Text" ></textarea>
                                                        </div>
                                                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12"> <span lang="en">Email Text</span>
                                                            <!--<textarea rows="4" ng-model="email.registerSMS" placeholder="Enter Registration SMS Text" ></textarea>-->
                                                            <textarea ui-tinymce  ng-model="email.transferRequestText" placeholder="Enter Request Email Text" ></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-lg-12 col-md-12 col-sm-12 col-sm-12">
                                        <div class="m-top20">
                                            <div class="row">
                                                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                                    <label class="emailTitle" lang="en"> <span class="color-red f-bold f-left">*</span>Transfer Funds Request Approval</label>
                                                </div>
                                                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                                                    <div class="row">

                                                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12"> <span lang="en"> Email Subject</span>
                                                            <textarea rows="2" class="noresize" ng-model="email.transferRequestApprovalEmail" placeholder="Enter Request Approval Email Subject" ></textarea>
                                                        </div>
                                                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12"><span lang="en">  SMS Text</span>
                                                            <textarea rows="2" class="noresize" ng-model="email.transferRequestApprovalSMS" placeholder="Enter Request Approval SMS Text" ></textarea>
                                                        </div>
                                                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12"> <span lang="en"> Email Text</span>
                                                            <!--<textarea rows="4" ng-model="email.registerSMS" placeholder="Enter Registration SMS Text" ></textarea>-->
                                                            <textarea ui-tinymce ng-model="email.transferRequestApprovalMessage" placeholder="Enter Request Approval Email Text" ></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-lg-12 col-md-12 col-sm-12 col-sm-12">
                                        <div class="m-top20">
                                            <div class="row">
                                                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                                    <label class="emailTitle" lang="en"> <span class="color-red f-bold f-left">*</span>Transfer Funds Request Rejected</label>
                                                </div>
                                                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                                                    <div class="row">

                                                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12"> <span lang="en">Email Subject</span>
                                                            <textarea rows="2" class="noresize" ng-model="email.transferRejectedEmail" placeholder="Enter Request Rejected Email Subject" ></textarea>
                                                        </div>
                                                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12"> <span lang="en">SMS Text</span>
                                                            <textarea rows="2" class="noresize" ng-model="email.transferRejectedSMS" placeholder="Enter Request Rejected SMS Text" ></textarea>
                                                        </div>
                                                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12"> <span lang="en">Email Text</span>
                                                            <!--<textarea rows="4" ng-model="email.registerSMS" placeholder="Enter Registration SMS Text" ></textarea>-->
                                                            <textarea ui-tinymce  ng-model="email.transferRejectedMessage" placeholder="Enter Request Rejected Email Text" ></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-12 col-md-12 col-sm-12 col-sm-12">
                                        <div class="m-top20">
                                            <div class="row">
                                                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                                    <label class="emailTitle" lang="en"> <span class="color-red f-bold f-left">*</span>Document Upload Request Email</label>
                                                </div>
                                                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                                                    <div class="row">

                                                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12"> <span lang="en"> Email Subject</span>
                                                            <textarea rows="2" class="noresize" ng-model="email.docUploadRequestEmail" placeholder="Enter Request Email Subject" ></textarea>
                                                        </div>
                                                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12"> <span lang="en">SMS Text</span>
                                                            <textarea rows="2" class="noresize" ng-model="email.docUploadRequestSMS" placeholder="Enter Request SMS Text" ></textarea>
                                                        </div>
                                                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12"> <span lang="en">Email Text</span>
                                                            <!--<textarea rows="4" ng-model="email.registerSMS" placeholder="Enter Registration SMS Text" ></textarea>-->
                                                            <textarea ui-tinymce   ng-model="email.docUploadRequestText" placeholder="Enter Request Email Text" ></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-lg-12 col-md-12 col-sm-12 col-sm-12">
                                        <div class="m-top20">
                                            <div class="row">
                                                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                                    <label class="emailTitle" lang="en"> <span class="color-red f-bold f-left">*</span>Document Upload Request Approval</label>
                                                </div>
                                                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                                                    <div class="row">

                                                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12"> <span lang="en">Email Subject</span>
                                                            <textarea rows="2" class="noresize" ng-model="email.docUploadRequestApprovalEmail" placeholder="Enter Request Approval Email Subject" ></textarea>
                                                        </div>
                                                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12"><span lang="en"> SMS Text</span>
                                                            <textarea rows="2" class="noresize" ng-model="email.docUploadRequestApprovalSMS" placeholder="Enter Request Approval SMS Text" ></textarea>
                                                        </div>
                                                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12"> <span lang="en">Email Text</span>
                                                            <!--<textarea rows="4" ng-model="email.registerSMS" placeholder="Enter Registration SMS Text" ></textarea>-->
                                                            <textarea ui-tinymce ng-model="email.docUploadRequestApprovalMessage" placeholder="Enter Request Approval Email Text" ></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-lg-12 col-md-12 col-sm-12 col-sm-12">
                                        <div class="m-top20">
                                            <div class="row">
                                                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                                    <label class="emailTitle" lang="en"> <span class="color-red f-bold f-left">*</span>Document Upload Request Rejected</label>
                                                </div>
                                                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                                                    <div class="row">

                                                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12"><span lang="en"> Email Subject</span>
                                                            <textarea rows="2" class="noresize" ng-model="email.docUploadRejectedEmail" placeholder="Enter Request Rejected Email Subject" ></textarea>
                                                        </div>
                                                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12"> <span lang="en">SMS Text</span>
                                                            <textarea rows="2" class="noresize" ng-model="email.docUploadRejectedSMS" placeholder="Enter Request Rejected SMS Text" ></textarea>
                                                        </div>
                                                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12"> <span lang="en">Email Text</span>
                                                            <!--<textarea rows="4" ng-model="email.registerSMS" placeholder="Enter Registration SMS Text" ></textarea>-->
                                                            <textarea ui-tinymce   ng-model="email.docUploadRejectedMessage" placeholder="Enter Request Rejected Email Text" ></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-12 col-md-12 col-sm-12 col-sm-12">
                                        <div class="m-top20">
                                            <div class="row">
                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                    <label lang="en"> <span class="color-red f-bold f-left">*</span>Project Milestone Request Email</label>
                                                </div>
                                                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                    <div class="row">

                                                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12"> <span lang="en"> Email Subject</span>
                                                            <textarea rows="2" ng-model="email.projectMilestoneRequestEmail" placeholder="Enter Request Email Subject" ></textarea>
                                                        </div>
                                                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12"> <span lang="en">SMS Text</span>
                                                            <textarea rows="2" ng-model="email.projectMilestoneRequestSMS" placeholder="Enter Request SMS Text" ></textarea>
                                                        </div>
                                                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12"> <span lang="en">Email Text</span>
                                                            <!--<textarea rows="4" ng-model="email.registerSMS" placeholder="Enter Registration SMS Text" ></textarea>-->
                                                            <textarea ui-tinymce  ng-model="email.projectMilestoneRequestText" placeholder="Enter Request Email Text" ></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-lg-12 col-md-12 col-sm-12 col-sm-12">
                                        <div class="m-top20">
                                            <div class="row">
                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                    <label lang="en"> <span class="color-red f-bold f-left">*</span>Project Milestones Request Approval</label>
                                                </div>
                                                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                    <div class="row">

                                                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12"> <span lang="en">Email Subject</span>
                                                            <textarea rows="2" ng-model="email.projectMilestoneRequestApprovalEmail" placeholder="Enter Request Approval Email Subject" ></textarea>
                                                        </div>
                                                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12"><span lang="en"> SMS Text</span>
                                                            <textarea rows="2" ng-model="email.projectMilestoneRequestApprovalSMS" placeholder="Enter Request Approval SMS Text" ></textarea>
                                                        </div>
                                                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12"> <span lang="en">Email Text</span>
                                                            <!--<textarea rows="4" ng-model="email.registerSMS" placeholder="Enter Registration SMS Text" ></textarea>-->
                                                            <textarea ui-tinymce ng-model="email.projectMilestoneRequestApprovalMessage" placeholder="Enter Request Approval Email Text" ></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-lg-12 col-md-12 col-sm-12 col-sm-12">
                                        <div class="m-top20">
                                            <div class="row">
                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                    <label lang="en"> <span class="color-red f-bold f-left">*</span>Project Milestone Request Rejected</label>
                                                </div>
                                                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                    <div class="row">

                                                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12"><span lang="en"> Email Subject</span>
                                                            <textarea rows="2" ng-model="email.projectMilestoneRejectedEmail" placeholder="Enter Request Rejected Email Subject" ></textarea>
                                                        </div>
                                                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12"> <span lang="en">SMS Text</span>
                                                            <textarea rows="2" ng-model="email.projectMilestoneRejectedSMS" placeholder="Enter Request Rejected SMS Text" ></textarea>
                                                        </div>
                                                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12"> <span lang="en">Email Text</span>
                                                            <!--<textarea rows="4" ng-model="email.registerSMS" placeholder="Enter Registration SMS Text" ></textarea>-->
                                                            <textarea ui-tinymce  ng-model="email.projectMilestoneRejectedMessage" placeholder="Enter Request Rejected Email Text" ></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-12 col-md-12 col-sm-12 col-sm-12">
                                        <div class="m-top20">
                                            <div class="row">
                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                    <label lang="en"> <span class="color-red f-bold f-left">*</span>Department Wise Budgets Request Email</label>
                                                </div>
                                                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                                                    <div class="row">

                                                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">  <span lang="en"> Email Subject</span>
                                                            <textarea rows="2" class="noresize" ng-model="email.budgetRequestEmail" placeholder="Enter Request Email Subject" ></textarea>
                                                        </div>
                                                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12"> <span lang="en">SMS Text</span>
                                                            <textarea rows="2" class="noresize" ng-model="email.budgetRequestSMS" placeholder="Enter Request SMS Text" ></textarea>
                                                        </div>
                                                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12"><span lang="en"> Email Text</span>
                                                            <!--<textarea rows="4" ng-model="email.registerSMS" placeholder="Enter Registration SMS Text" ></textarea>-->
                                                            <textarea ui-tinymce  ng-model="email.budgetRequestText" placeholder="Enter Request Email Text" ></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-lg-12 col-md-12 col-sm-12 col-sm-12">
                                        <div class="m-top20">
                                            <div class="row">
                                                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                                    <label class="emailTitle" lang="en"> <span class="color-red f-bold f-left">*</span>Department Wise Budgets Request Approval</label>
                                                </div>
                                                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                                                    <div class="row">

                                                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12"><span lang="en"> Email Subject</span>
                                                            <textarea rows="2" class="noresize" ng-model="email.budgetRequestApprovalEmail" placeholder="Enter Request Approval Email Subject" ></textarea>
                                                        </div>
                                                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12"> <span lang="en">SMS Text</span>
                                                            <textarea rows="2" class="noresize" ng-model="email.budgetRequestApprovalSMS" placeholder="Enter Request Approval SMS Text" ></textarea>
                                                        </div>
                                                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12"><span lang="en"> Email Text</span>
                                                            <!--<textarea rows="4" ng-model="email.registerSMS" placeholder="Enter Registration SMS Text" ></textarea>-->
                                                            <textarea ui-tinymce  ng-model="email.budgetRequestApprovalMessage" placeholder="Enter Request Approval Email Text" ></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-lg-12 col-md-12 col-sm-12 col-sm-12">
                                        <div class="m-top20">
                                            <div class="row">
                                                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                                    <label class="emailTitle" lang="en"> <span class="color-red f-bold f-left">*</span>Department Wise Budgets Request Rejected</label>
                                                </div>
                                                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                                                    <div class="row">

                                                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12"><span lang="en"> Email Subject</span>
                                                            <textarea rows="2" class="noresize" ng-model="email.budgetRejectedEmail" placeholder="Enter Request Rejected Email Subject" ></textarea>
                                                        </div>
                                                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12"><span lang="en"> SMS Text</span>
                                                            <textarea rows="2" class="noresize" ng-model="email.budgetRejectedSMS" placeholder="Enter Request Rejected SMS Text" ></textarea>
                                                        </div>
                                                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12"> <span lang="en">Email Text</span>
                                                            <!--<textarea rows="4" ng-model="email.registerSMS" placeholder="Enter Registration SMS Text" ></textarea>-->
                                                            <textarea ui-tinymce ng-model="email.budgetRejectedMessage" placeholder="Enter Request Rejected Email Text" ></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-12 col-md-12 col-sm-12 col-sm-12">
                                        <div class="m-top20">
                                            <div class="row">
                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                    <label lang="en"> <span class="color-red f-bold f-left">*</span>Project Rebaseline Request Email</label>
                                                </div>
                                                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                                                    <div class="row">

                                                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">  <span lang="en"> Email Subject</span>
                                                            <textarea rows="2" class="noresize" ng-model="email.rebaseLineRequestEmail" placeholder="Enter Request Email Subject" ></textarea>
                                                        </div>
                                                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12"> <span lang="en">SMS Text</span>
                                                            <textarea rows="2" class="noresize" ng-model="email.rebaseLineRequestSMS" placeholder="Enter Request SMS Text" ></textarea>
                                                        </div>
                                                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12"><span lang="en"> Email Text</span>
                                                            <!--<textarea rows="4" ng-model="email.registerSMS" placeholder="Enter Registration SMS Text" ></textarea>-->
                                                            <textarea ui-tinymce  ng-model="email.rebaseLineRequestText" placeholder="Enter Request Email Text" ></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-lg-12 col-md-12 col-sm-12 col-sm-12">
                                        <div class="m-top20">
                                            <div class="row">
                                                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                                    <label class="emailTitle" lang="en"> <span class="color-red f-bold f-left">*</span>Project Rebaseline Request Approval</label>
                                                </div>
                                                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                                                    <div class="row">

                                                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12"><span lang="en"> Email Subject</span>
                                                            <textarea rows="2" class="noresize" ng-model="email.rebaseLineRequestApprovalEmail" placeholder="Enter Request Approval Email Subject" ></textarea>
                                                        </div>
                                                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12"> <span lang="en">SMS Text</span>
                                                            <textarea rows="2" class="noresize" ng-model="email.rebaseLineRequestApprovalSMS" placeholder="Enter Request Approval SMS Text" ></textarea>
                                                        </div>
                                                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12"><span lang="en"> Email Text</span>
                                                            <!--<textarea rows="4" ng-model="email.registerSMS" placeholder="Enter Registration SMS Text" ></textarea>-->
                                                            <textarea ui-tinymce  ng-model="email.rebaseLineRequestApprovalMessage" placeholder="Enter Request Approval Email Text" ></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-lg-12 col-md-12 col-sm-12 col-sm-12">
                                        <div class="m-top20">
                                            <div class="row">
                                                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                                    <label class="emailTitle" lang="en"> <span class="color-red f-bold f-left">*</span>Project Rebaseline Request Rejected</label>
                                                </div>
                                                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                                                    <div class="row">

                                                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12"><span lang="en"> Email Subject</span>
                                                            <textarea rows="2" class="noresize" ng-model="email.rebaseLineRejectedEmail" placeholder="Enter Request Rejected Email Subject" ></textarea>
                                                        </div>
                                                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12"><span lang="en"> SMS Text</span>
                                                            <textarea rows="2" class="noresize" ng-model="email.rebaseLineRejectedSMS" placeholder="Enter Request Rejected SMS Text" ></textarea>
                                                        </div>
                                                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12"> <span lang="en">Email Text</span>
                                                            <!--<textarea rows="4" ng-model="email.registerSMS" placeholder="Enter Registration SMS Text" ></textarea>-->
                                                            <textarea ui-tinymce ng-model="email.rebaseLineRejectedMessage" placeholder="Enter Request Rejected Email Text" ></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                                    <button type="submit" class="btn btn-success" lang="en">Update</button>
                                </div>
                                <!-- </div>-->
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div id="registerSuccess" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body textStyle1 text-center">
                <div>Successfully Updated EMAIL DETAILS.</div>
            </div>
        </div>

    </div>
</div>