<div class="breadcrumbArea">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pull-left">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/home"><span lang="en">Home</span></a></li>
                <li class="breadcrumb-item"><a href="#/createAssetLand"><span lang="en">Land And Asset</span></a></li>
                <li class="breadcrumb-item active"><span lang="en">View Land Details</span></li>
            </ol>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 pull-right">
            <!--<a  ng-click="clickToBack()"> <span class="glyphicon glyphicon-hand-left"></span> Back</a>-->
            <a ng-click="clickToBack()" class="backbtnArea pull-right">
                <div class="" id="content">
                    <div class="aside arrow">
                        <span class="glyphicon glyphicon-chevron-left"> </span>
                        <span class="backbtn" lang="en">Go Back</span>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

<div class="adminContent">
    <div id="lodingImage" ng-show="loadingImage"> <img src="images/gears.gif"></div>
    <div class="schemeMain" ng-show="!loadingImage">

        <div class="row">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row">

                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="projectName"><span class="glyphicon glyphicon-hand-right"> </span> <span lang="en">View Land</span></div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 addScheme">
                    <div class="addScheme pull-right">
                        <!--<button class="btn btn-default m-right5" ng-click="printTable()">
                            <span class="glyphicon glyphicon-print"></span> Print
                        </button>-->

                        <button class="btn btn-primary" ng-click="generatePDF()"><i class="fa fa-save"></i> <span lang="en">Print</span></button>

                    </div>
                </div>

                <div class="clearfix visible-block"></div>
                    <hr />
                </div>
            <div id="formConfirmation">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="projectMain m-btm20 table-responsive ">
                    <div class="projectTile"><span lang="en">Land Details</span></div>
                    <table class="table table-bordered nopadding" id="viewInfo">
                        <tr>
                            <td class="width160"><b lang="en">Land Id</b></td>
                            <td class="width20">:</td>
                            <!--<td>{{scheme.assetNumber}}</td>-->
                            <td ng-if="scheme.assetNumber">{{scheme.assetNumber}}</td>
                            <td style="font-weight:bold" ng-if="!scheme.assetNumber">Not Applicable</td>
                            <td class="width160"><b lang="en">Asset Type</b></td>
                            <td class="width20">:</td>
                            <!--<td>{{scheme.assetType}}</td>-->
                            <td ng-if="scheme.assetType">{{scheme.assetType}}</td>
                            <td style="font-weight:bold" ng-if="!scheme.assetType">Not Applicable</td>
                        </tr>

                        <tr>
                            <td class="width160"><b lang="en">Asset Description</b></td>
                            <td class="width20">:</td>
                            <!--<td>{{scheme.assetDescription}}</td>-->
                            <td ng-if="scheme.assetDescription">{{scheme.assetDescription}}</td>
                            <td style="font-weight:bold" ng-if="!scheme.assetDescription">Not Applicable</td>
                            <td class="width160"><b lang="en">Acquisition Comments</b></td>
                            <td class="width20">:</td>
                            <!--<td>{{scheme.acquisitionComments}}</td>-->
                            <td ng-if="scheme.acquisitionComments">{{scheme.acquisitionComments}}</td>
                            <td style="font-weight:bold" ng-if="!scheme.acquisitionComments">Not Applicable</td>
                        </tr>

                        <tr>
                            <td class="width160"><b lang="en">Acquisition Status</b></td>
                            <td class="width20">:</td>
                            <!--<td>{{scheme.acquisitionStatus}}</td>-->
                            <td ng-if="scheme.acquisitionStatus">{{scheme.acquisitionStatus}}</td>
                            <td style="font-weight:bold" ng-if="!scheme.acquisitionStatus">Not Applicable</td>
                            <td class="width160"><b lang="en">Address Details</b></td>
                            <td class="width20">:</td>
                         <!--   <td>{{scheme.addressDetails}}</td>-->
                            <td ng-if="scheme.addressDetails">{{scheme.addressDetails}}</td>
                            <td style="font-weight:bold" ng-if="!scheme.addressDetails">Not Applicable</td>


                        </tr>

                        <tr>
                            <td class="width160"><b lang="en">Adjustment Account</b></td>
                            <td class="width20">:</td>
                            <!--<td>{{scheme.adjustmentAccount}}</td>-->
                            <td ng-if="scheme.adjustmentAccount">{{scheme.adjustmentAccount}}</td>
                            <td style="font-weight:bold" ng-if="!scheme.adjustmentAccount">Not Applicable</td>
                            <td class="width160"><b lang="en">Amortization Amount</b></td>
                            <td class="width20">:</td>
                            <!--<td>{{scheme.amortizationAmount}}</td>-->
                            <td ng-if="scheme.amortizationAmount">{{scheme.amortizationAmount}}</td>
                            <td style="font-weight:bold" ng-if="!scheme.amortizationAmount">Not Applicable</td>
                        </tr>


                        <tr>
                            <td class="width160"><b lang="en">Amortization Method</b></td>
                            <td class="width20">:</td>
                            <!--<td>{{scheme.amortizationMethod}}</td>-->
                            <td ng-if="scheme.amortizationMethod">{{scheme.amortizationMethod}}</td>
                            <td style="font-weight:bold" ng-if="!scheme.amortizationMethod">Not Applicable</td>
                            <td class="width160"><b lang="en">Amortization Rate</b></td>
                            <td class="width20">:</td>
                            <!--<td>{{scheme.amortizationRate}}</td>-->
                            <td ng-if="scheme.amortizationRate">{{scheme.amortizationRate}}</td>
                            <td style="font-weight:bold" ng-if="!scheme.amortizationRate">Not Applicable</td>
                        </tr>


                        <tr>
                            <td class="width160"><b lang="en">Area In Units</b></td>
                            <td class="width20">:</td>
                            <!--<td>{{scheme.areaInUnits}}</td>-->
                            <td ng-if="scheme.areaInUnits">{{scheme.areaInUnits}}</td>
                            <td style="font-weight:bold" ng-if="!scheme.areaInUnits">Not Applicable</td>
                            <td class="width160"><b lang="en">Asset Last Review Date</b></td>
                            <td class="width20">:</td>
                            <!--<td>{{scheme.assetLastReviewedDate}}</td>-->
                            <td ng-if="scheme.assetLastReviewedDate">{{scheme.assetLastReviewedDate}}</td>
                            <td style="font-weight:bold" ng-if="!scheme.assetLastReviewedDate">Not Applicable</td>
                        </tr>

                        <tr>
                            <td class="width160"><b lang="en">Asset Mode</b></td>
                            <td class="width20">:</td>
                            <!--<td>{{scheme.assetMode}}</td>-->
                            <td ng-if="scheme.assetMode">{{scheme.assetMode}}</td>
                            <td style="font-weight:bold" ng-if="!scheme.assetMode">Not Applicable</td>
                            <td class="width160"><b lang="en">Asset Name</b></td>
                            <td class="width20">:</td>
                            <!--<td>{{scheme.assetName}}</td>-->
                            <td ng-if="scheme.assetName">{{scheme.assetName}}</td>
                            <td style="font-weight:bold" ng-if="!scheme.assetName">Not Applicable</td>
                        </tr>

                        <tr>
                            <td class="width160"><b lang="en">Asset Renewable Availability</b></td>
                            <td class="width20">:</td>
                            <td ng-if="scheme.assetRenewableAvailability">{{scheme.assetRenewableAvailability}}</td>
                            <td style="font-weight:bold" ng-if="!scheme.assetRenewableAvailability">Not Applicable</td>
                            <!--<td>{{scheme.assetRenewableAvailability}}</td>-->
                            <td class="width160"><b lang="en">Asset Spares Comment</b></td>
                            <td class="width20">:</td>
                            <!--<td>{{scheme.assetSparesComment}}</td>-->
                            <td ng-if="scheme.assetSparesComment">{{scheme.assetSparesComment}}</td>
                            <td style="font-weight:bold" ng-if="!scheme.assetSparesComment">Not Applicable</td>
                        </tr>

                        <tr>
                            <td class="width160"><b lang="en">Asset Spares Name</b></td>
                            <td class="width20">:</td>
                            <td ng-if="scheme.assetSparesName">{{scheme.assetSparesName}}</td>
                            <td style="font-weight:bold" ng-if="!scheme.assetSparesName">Not Applicable</td>
                            <!--<td>{{scheme.assetSparesName}}</td>-->
                            <td class="width160"><b lang="en">Asset Upgrade Date</b></td>
                            <td class="width20">:</td>
                            <!--<td>{{scheme.assetUpgradeDate}}</td>-->
                            <td ng-if="scheme.assetUpgradeDate">{{scheme.assetUpgradeDate}}</td>
                            <td style="font-weight:bold" ng-if="!scheme.assetUpgradeDate">Not Applicable</td>

                        </tr>

                        <tr>
                            <td class="width160"><b lang="en">Book Value</b></td>
                            <td class="width20">:</td>
                            <!--<td>{{scheme.bookValue}}</td>-->
                            <td ng-if="scheme.bookValue">{{scheme.bookValue}}</td>
                            <td style="font-weight:bold" ng-if="!scheme.bookValue">Not Applicable</td>
                            <td class="width160"><b lang="en">Contact Person</b></td>
                            <td class="width20">:</td>
                            <!--<td>{{scheme.contactPerson}}</td>-->
                            <td ng-if="scheme.contactPerson">{{scheme.contactPerson}}</td>
                            <td style="font-weight:bold" ng-if="!scheme.contactPerson">Not Applicable</td>
                        </tr>
                        <tr>
                            <td class="width160"><b lang="en">Contact Person Department</b></td>
                            <td class="width20">:</td>
                            <td ng-if="scheme.contactDeptValue">{{scheme.contactDeptValue}}</td>
                            <td style="font-weight:bold" ng-if="!scheme.contactDeptValue">Not Applicable</td>
                            <!--<td>{{scheme.contactDeptValue}}</td>-->
                            <td class="width160"><b lang="en">Control Account</b></td>
                            <td class="width20">:</td>
                            <!--<td>{{scheme.controlAccount}}</td>-->
                            <td ng-if="scheme.controlAccount">{{scheme.controlAccount}}</td>
                            <td style="font-weight:bold" ng-if="!scheme.controlAccount">Not Applicable</td>
                        </tr>

                        <tr>
                            <td class="width160"><b lang="en">Cost Center</b></td>
                            <td class="width20">:</td>
                            <!--<td>{{scheme.costCenter}}</td>-->
                            <td ng-if="scheme.costCenter">{{scheme.costCenter}}</td>
                            <td style="font-weight:bold" ng-if="!scheme.costCenter">Not Applicable</td>
                            <td class="width160"><b lang="en">Created Person</b></td>
                            <td class="width20">:</td>
                            <td ng-if="scheme.createdPerson">{{scheme.createdPerson}}</td>
                            <td style="font-weight:bold" ng-if="!scheme.createdPerson">Not Applicable</td>
                            <!--<td>{{scheme.createdPerson}}</td>-->
                        </tr>

                        <tr>
                            <td class="width160"><b lang="en">Asset Criticality</b></td>
                            <td class="width20">:</td>
                            <td ng-if="scheme.criticalityAsset">{{scheme.criticalityAsset}}</td>
                            <td style="font-weight:bold" ng-if="!scheme.criticalityAsset">Not Applicable</td>
                            <!--<td>{{scheme.criticalityAsset}}</td>-->
                            <td class="width160"><b lang="en">Currency Variance</b></td>
                            <td class="width20">:</td>
                            <td ng-if="scheme.currencyVariance">{{scheme.currencyVariance}}</td>
                            <td style="font-weight:bold" ng-if="!scheme.currencyVariance">Not Applicable</td>
                            <!--<td>{{scheme.currencyVariance}}</td>-->
                        </tr>

                        <tr>
                            <td class="width160"><b lang="en">Duty</b></td>
                            <td class="width20">:</td>
                            <td ng-if="scheme.duty">{{scheme.duty}}</td>
                            <td style="font-weight:bold" ng-if="!scheme.duty">Not Applicable</td>
                            <!--<td>{{scheme.duty}}</td>-->
                            <td class="width160"><b lang="en">Duty Type</b></td>
                            <td class="width20">:</td>
                            <td ng-if="scheme.dutyType">{{scheme.dutyType}}</td>
                            <td style="font-weight:bold" ng-if="!scheme.dutyType">Not Applicable</td>
                            <!--<td>{{scheme.dutyType}}</td>-->
                        </tr>

                        <tr>
                            <td class="width160"><b lang="en">Employee Id</b></td>
                            <td class="width20">:</td>
                            <td ng-if="scheme.employeeId">{{scheme.employeeId}}</td>
                            <td style="font-weight:bold" ng-if="!scheme.employeeId">Not Applicable</td>
                            <!--<td>{{scheme.employeeId}}</td>-->
                            <td class="width160"><b lang="en">Expected Date Of Disposal</b></td>
                            <td class="width20">:</td>
                            <td ng-if="scheme.expectedDateOfDisposal">{{scheme.expectedDateOfDisposal}}</td>
                            <td style="font-weight:bold" ng-if="!scheme.expectedDateOfDisposal">Not Applicable</td>
                            <!--<td>{{scheme.expectedDateOfDisposal}}</td>-->
                        </tr>

                        <tr>
                            <td class="width160"><b lang="en">Historic Cost Availability</b></td>
                            <td class="width20">:</td>
                            <td ng-if="scheme.historicCostAvailability">{{scheme.historicCostAvailability}}</td>
                            <td style="font-weight:bold" ng-if="!scheme.historicCostAvailability">Not Applicable</td>
                            <!--<td>{{scheme.historicCostAvailability}}</td>-->
                            <td class="width160"><b lang="en">Impairment Life</b></td>
                            <td class="width20">:</td>
                            <td ng-if="scheme.impairmentLife">{{scheme.impairmentLife}}</td>
                            <td style="font-weight:bold" ng-if="!scheme.impairmentLife">Not Applicable</td>
                            <!--<td>{{scheme.impairmentLife}}</td>-->
                        </tr>

                        <tr>
                            <td class="width160"><b lang="en">Initial Valuation Cost</b></td>
                            <td class="width20">:</td>
                            <!--<td>{{scheme.initialValuationCost}}</td>-->
                            <td ng-if="scheme.initialValuationCost">{{scheme.initialValuationCost}}</td>
                            <td style="font-weight:bold" ng-if="!scheme.initialValuationCost">Not Applicable</td>


                            <td class="width160"><b lang="en">Historic Cost</b></td>
                            <td class="width20">:</td>
                            <!--<td>{{scheme.historicCost}}</td>-->
                            <td ng-if="scheme.historicCost">{{scheme.historicCost}}</td>
                            <td style="font-weight:bold" ng-if="!scheme.historicCost">Not Applicable</td>

                        </tr>

                        <tr>
                            <td class="width160"><b lang="en">Land Details</b></td>
                            <td class="width20">:</td>
                            <td ng-if="scheme.landDetails">{{scheme.landDetails}}</td>
                            <td style="font-weight:bold" ng-if="!scheme.landDetails">Not Applicable</td>
                            <!--<td>{{scheme.landDetails}}</td>-->
                            <td class="width160"><b lang="en">Leased Date</b></td>
                            <td class="width20">:</td>
                            <!--<td>{{scheme.leasedDate}}</td>-->
                            <td ng-if="scheme.leasedDate">{{scheme.leasedDate}}</td>
                            <td style="font-weight:bold" ng-if="!scheme.leasedDate">Not Applicable</td>

                        </tr>

                        <tr>
                            <td class="width160"><b lang="en">Legal Formality Status</b></td>
                            <td class="width20">:</td>
                            <td ng-if="scheme.legalFormalityStatus">{{scheme.legalFormalityStatus}}</td>
                            <td style="font-weight:bold" ng-if="!scheme.legalFormalityStatus">Not Applicable</td>
                            <!--<td>{{scheme.legalFormalityStatus}}</td>-->
                            <td class="width160"><b lang="en">Locality</b></td>
                            <td class="width20">:</td>
                            <td ng-if="scheme.locality">{{scheme.locality}}</td>
                            <td style="font-weight:bold" ng-if="!scheme.locality">Not Applicable</td>
                            <!--<td>{{scheme.locality}}</td>-->
                        </tr>

                        <tr>
                            <td class="width160"><b lang="en">Maintenance Department</b></td>
                            <td class="width20">:</td>
                            <!--<td>{{scheme.maintenanceContactDepartment}}</td>-->
                            <td ng-if="scheme.maintenanceContactDepartmentValue">{{scheme.maintenanceContactDepartmentValue}}</td>
                            <td style="font-weight:bold" ng-if="!scheme.maintenanceContactDepartmentValue">Not Applicable</td>
                            <td class="width160"><b lang="en">Maintenance Contact Name</b></td>
                            <td class="width20">:</td>
                            <!--<td>{{scheme.maintenanceContactName}}</td>-->
                            <td ng-if="scheme.maintenanceContactName">{{scheme.maintenanceContactName}}</td>
                            <td style="font-weight:bold" ng-if="!scheme.maintenanceContactName">Not Applicable</td>
                        </tr>

                        <tr>
                            <td class="width160"><b lang="en">Muncipality or Mandal</b></td>
                            <td class="width20">:</td>
                            <td ng-if="scheme.muncipalityOrMandal">{{scheme.muncipalityOrMandal}}</td>
                            <td style="font-weight:bold" ng-if="!scheme.muncipalityOrMandal">Not Applicable</td>
                            <!--<td>{{scheme.muncipalityOrMandal}}</td>-->
                            <td class="width160"><b lang="en">Original Life</b></td>
                            <td class="width20">:</td>
                            <td ng-if="scheme.originalLife">{{scheme.originalLife}}</td>
                            <td style="font-weight:bold" ng-if="!scheme.originalLife">Not Applicable</td>
                            <!--<td>{{scheme.originalLife}}</td>-->
                        </tr>

                        <tr>
                            <td class="width160"><b lang="en">Original Remaining Life</b></td>
                            <td class="width20">:</td>
                            <td ng-if="scheme.originalRemainingLife">{{scheme.originalRemainingLife}}</td>
                            <td style="font-weight:bold" ng-if="!scheme.originalRemainingLife">Not Applicable</td>
                            <!--<td>{{scheme.originalRemainingLife}}</td>-->
                            <td class="width160"><b lang="en">Owner Name</b></td>
                            <td class="width20">:</td>
                           <!-- <td>{{scheme.ownerName}}</td>-->
                            <td ng-if="scheme.ownerName">{{scheme.ownerName}}</td>
                            <td style="font-weight:bold" ng-if="!scheme.ownerName">Not Applicable</td>
                        </tr>

                        <tr>
                            <td class="width160"><b lang="en">Ownership Transfer Status</b></td>
                            <td class="width20">:</td>
                            <td ng-if="scheme.ownerShipTransferStatus">{{scheme.ownerShipTransferStatus}}</td>
                            <td style="font-weight:bold" ng-if="!scheme.ownerShipTransferStatus">Not Applicable</td>
                            <!--<td>{{scheme.ownerShipTransferStatus}}</td>-->
                            <td class="width160"><b lang="en">Mobile Number</b></td>
                            <td class="width20">:</td>
                           <!-- <td>{{scheme.phoneNumber}}</td>-->
                            <td ng-if="scheme.phoneNumber">{{scheme.phoneNumber}}</td>
                            <td style="font-weight:bold" ng-if="!scheme.phoneNumber">Not Applicable</td>

                        </tr>

                        <tr>
                            <td class="width160"><b lang="en">Price Variance</b></td>
                            <td class="width20">:</td>
                            <!--<td>{{scheme.priceVariance}}</td>-->
                            <td ng-if="scheme.priceVariance">{{scheme.priceVariance}}</td>
                            <td style="font-weight:bold" ng-if="!scheme.priceVariance">Not Applicable</td>
                            <td class="width160"><b lang="en">Purchase Price Variance</b></td>
                            <td class="width20">:</td>
                            <td ng-if="scheme.purchasePriceVariance">{{scheme.purchasePriceVariance}}</td>
                            <td style="font-weight:bold" ng-if="!scheme.purchasePriceVariance">Not Applicable</td>
                            <!--<td>{{scheme.purchasePriceVariance}}</td>-->
                        </tr>

                        <tr>
                            <td class="width160"><b lang="en">Receipt Variance</b></td>
                            <td class="width20">:</td>
                            <td ng-if="scheme.receiptVariance">{{scheme.receiptVariance}}</td>
                            <td style="font-weight:bold" ng-if="!scheme.receiptVariance">Not Applicable</td>
                            <!--<td>{{scheme.receiptVariance}}</td>-->
                            <td class="width160"><b lang="en">Registration Details</b></td>
                            <td class="width20">:</td>
                            <td ng-if="scheme.registrationDetails">{{scheme.registrationDetails}}</td>
                            <td style="font-weight:bold" ng-if="!scheme.registrationDetails">Not Applicable</td>
                            <!--<td>{{scheme.registrationDetails}}</td>-->
                        </tr>

                        <tr>
                            <td class="width160"><b lang="en">Replacement Due Date</b></td>
                            <td class="width20">:</td>
                            <td ng-if="scheme.replacementDueDate">{{scheme.replacementDueDate}}</td>
                            <td style="font-weight:bold" ng-if="!scheme.replacementDueDate">Not Applicable</td>
                            <!--<td>{{scheme.replacementDueDate}}</td>-->
                            <td class="width160"><b lang="en">Request Transfer Name</b></td>
                            <td class="width20">:</td>
                            <td ng-if="scheme.requestTransferName">{{scheme.requestTransferName}}</td>
                            <td style="font-weight:bold" ng-if="!scheme.requestTransferName">Not Applicable</td>
                            <!--<td>{{scheme.requestTransferName}}</td>-->
                        </tr>

                        <tr>
                            <td class="width160"><b lang="en">Required Date</b></td>
                            <td class="width20">:</td>
                            <!--<td>{{scheme.requiredDate}}</td>-->
                            <td ng-if="scheme.requiredDate">{{scheme.requiredDate}}</td>
                            <td style="font-weight:bold" ng-if="!scheme.requiredDate">Not Applicable</td>
                            <td class="width160"><b lang="en">Return Value</b></td>
                            <td class="width20">:</td>
                            <td ng-if="scheme.returnValue">{{scheme.returnValue}}</td>
                            <td style="font-weight:bold" ng-if="!scheme.returnValue">Not Applicable</td>
                            <!--<td>{{scheme.returnValue}}</td>-->
                        </tr>

                        <tr>
                            <td class="width160"><b lang="en">Revised Remaining Life</b></td>
                            <td class="width20">:</td>
                            <!--<td>{{scheme.revisedRemainingLife}}</td>-->
                            <td ng-if="scheme.revisedRemainingLife">{{scheme.revisedRemainingLife}}</td>
                            <td style="font-weight:bold" ng-if="!scheme.revisedRemainingLife">Not Applicable</td>
                            <td class="width160"><b lang="en">Scrap Value</b></td>
                            <td class="width20">:</td>
                            <!--<td>{{scheme.scrapValue}}</td>-->
                            <td ng-if="scheme.scrapValue">{{scheme.scrapValue}}</td>
                            <td style="font-weight:bold" ng-if="!scheme.scrapValue">Not Applicable</td>
                        </tr>

                        <tr>
                            <td class="width160"><b lang="en">Shrinkage Account</b></td>
                            <td class="width20">:</td>
                            <!--<td>{{scheme.shrinkageAccount}}</td>-->
                            <td ng-if="scheme.shrinkageAccount">{{scheme.shrinkageAccount}}</td>
                            <td style="font-weight:bold" ng-if="!scheme.shrinkageAccount">Not Applicable</td>
                            <td class="width160"><b lang="en">Since Date</b></td>
                            <td class="width20">:</td>
                            <!--<td>{{scheme.sinceDate}}</td>-->
                            <td ng-if="scheme.sinceDate">{{scheme.sinceDate}}</td>
                            <td style="font-weight:bold" ng-if="!scheme.sinceDate">Not Applicable</td>
                        </tr>

                        <tr>
                            <td class="width160"><b lang="en">Status</b></td>
                            <td class="width20">:</td>
                            <!--<td>{{scheme.status}}</td>-->
                            <td ng-if="scheme.status">{{scheme.status}}</td>
                            <td style="font-weight:bold" ng-if="!scheme.status">Not Applicable</td>
                            <td class="width160"><b lang="en">Terms In Months</b></td>
                            <td class="width20">:</td>
                            <!--<td>{{scheme.termsInMonths}}</td>-->
                            <td ng-if="scheme.termsInMonths">{{scheme.termsInMonths}}</td>
                            <td style="font-weight:bold" ng-if="!scheme.termsInMonths">Not Applicable</td>
                        </tr>

                        <tr>
                            <td class="width160"><b lang="en">Village</b></td>
                            <td class="width20">:</td>
                            <!--<td>{{scheme.village}}</td>-->
                            <td ng-if="scheme.village">{{scheme.village}}</td>
                            <td style="font-weight:bold" ng-if="!scheme.village">Not Applicable</td>
                            <td class="width160"><b lang="en">Ward</b></td>
                            <td class="width20">:</td>
                            <td ng-if="scheme.ward">{{scheme.ward}}</td>
                            <td style="font-weight:bold" ng-if="!scheme.ward">Not Applicable</td>
                            <!--<td>{{scheme.ward}}</td>-->


                        </tr>
                        <tr id="elementId">
                            <td class="width160"><b lang="en">Warranty Period</b></td>
                            <td class="width20">:</td>
                            <!--<td>{{scheme.warrentyPeriod}}</td>-->
                            <td ng-if="scheme.warrentyPeriod">{{scheme.warrentyPeriod}}</td>
                            <td style="font-weight:bold" ng-if="!scheme.warrentyPeriod">Not Applicable</td>
                            <td class="width160"><b lang="en">Upload Notification</b></td>
                            <td class="width20">:</td>
                            <td ng-show="scheme.file.length">
                                <span ng-repeat="ben in scheme.file">
                                <a target="_blank" href="{{uploadURL}}{{ben._id}}">{{ben.filename}}</a>
                                </span>
                            </td>
                            <td ng-show="scheme.file.length==0">
                                Not Applicable
                            </td>
                        </tr>

                    </table>
                </div>

            </div>
            </div>

        </div>
    </div>
</div>
</div>