<div class="breadcrumbArea">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pull-left">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/home"><span lang="en">Home</span> </a></li>
                <li class="breadcrumb-item"><span lang="en">Legal Management</span></li>
                <li class="breadcrumb-item"><span lang="en">Case Management</span></li>
                <li class="breadcrumb-item active"><span lang="en">Writ Petition</span></li>
            </ol>
        </div>
    </div>
</div>

<div class="adminContent" id="addDesignation">

    <div id="lodingImage" ng-show="loadingImage"> <img src="images/gears.gif"></div>

    <div class="schemeMain" ng-show="!loadingImage">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="legalManagement">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="projectName" lang="en"><span class="glyphicon glyphicon-hand-right"> </span>Writ Petition</div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 addScheme">
                            <a href="#/createWritePetition" class="btn btn-success pull-right " ng-if="roleLogin.writePetitionedit"><span lang="en">Create Writ Petition</span> </a>
                            <a href="#/petitionDetails" class="btn btn-info pull-right m-right5"><span lang="en"> Petition Details</span></a>
                            <button class="btn btn-default pull-right m-right5" ng-click="exportToExcel('#writePetition')" lang="en">
                                <span class="glyphicon glyphicon-share"></span> Export to Excel
                            </button>

                        </div>
                    </div>
                    <div class="clearfix visible-block"></div>
                    <hr />
                </div>

            </div>
        </div>


        <table id="writePetition" ng-show="hideDetails" class="table table-bordered table-striped"></table>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="table-responsive">
                <table datatable="ng" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th lang="en">Case Number</th>
                            <th lang="en">Petition Id</th>
                            <th lang="en">Petition Date</th>
                            <th lang="en">Petitioner</th>
                            <th lang="en">Respondent</th>
                            <th ng-if="roleLogin.writePetitionedit" lang="en">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="petitionInfo in petitionData track by $index">
                            <td>{{petitionInfo.caseNumber}}</td>
                            <td>{{petitionInfo.petitionId}}</td>
                            <td>{{petitionInfo.petitionDate | date:'shortDate'}}</td>
                            <td>{{petitionInfo.petitioner}}</td>
                            <td>{{petitionInfo.respondent}}</td>
                            <td ng-if="roleLogin.writePetitionedit">
                                <a class="btn btn-primary" href="#/editWritePetition/{{petition.id}}" ng-click="getEditWritePetition(petitionInfo)"><span class="glyphicon glyphicon-pencil"></span></a>
                                <!--<button class="btn btn-danger" ng-click="deleteCharter()"><span class="glyphicon glyphicon-trash"></span></button>-->
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>

<div id="addDepartmentSuccess" class="modal fade" data-backdrop="static" data-keyboard="false"  role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" >
            <div ng-show="caseShow">
                <div class="modal-body textStyle1">

                <h4>Successfully  Petition is Created For Case Number :'<b> {{selectedCaseNumber}}</b> '.</h4>
                </div>
                <div class="modal-footer text-center">

                    <button type="button" class=" btn btn-success text-center" data-dismiss="modal" lang="en">OK</button>
                </div>
            </div>

            <div ng-show="caseHide">
                <div class="modal-body textStyle1" >
                <h4>Successfully  Petition is Updated For Case Number :'<b> {{selectedCaseNumb}}</b> '.</h4>
                </div>
                <div class="modal-footer text-center">

                    <button type="button" class=" btn btn-success text-center" data-dismiss="modal" lang="en">OK</button>

                </div>

            </div>
        </div>
    </div>
</div>
